<section class="section--we-do section" id="we-do">
    <div class="container">

        <div class="we-do">
            <h3 class="section__title we-do-title">
                Unsere Erfolge
            </h3>
            <div class="counter">
                <div class="counter__item">
                    <p class="counter__number"><span class="js--count">89</span></p>
                    <p class="counter__text">
                        abgeschlossene Bestellungen
                    </p>
                </div>
                <div class="counter__item">
                    <p class="counter__number"><span class="js--count">4 </span> Jahre</p>
                    <p class="counter__text">
                       <span class="desc-counter"> </span>  IT-Berufserfahrung
                    </p>
                </div>
                <div class="counter__item">
                    <p class="counter__number">€<span class="js--count">5  </span> mln.</p>
                    <p class="counter__text">
                        unsere Kunden sparen mit uns
                    </p>
                </div>
                <div class="counter__item">
                    <p class="counter__number"><span class="js--count">138</span>%</p>
                    <p class="counter__text">
                        effektive Lösungen
                    </p>
                </div>

            </div>

            <div class="we-do__text ">
                <p>
                    <span itemprop="description">
                          Wir montieren, konfigurieren und optimieren
                          Computer für jede Ihrer Aufgaben und senken die Kosten der
                          Dienste aufgrund unseres Wissens und unseres
                          breiten Netzwerks von Partnerschaften um 30%
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="section--we-do__bg">

    </div>
</section>