.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  &__bottom__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 45px;
    height: 45px;

    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #eaab5a;
    span {
      color: #eaab5a;
      font-size: 26px;
    }
  }
}