<section class="section--about-us section">
    <div class="container">
        <div class="about-us">
            <h3 class="section__title">
                Почему выбирают нас?
            </h3>
            <div class="about-us__wrapper">
                <div class="icon-block icon-block--bordered grid-tpl-1">
                    <div class="icon-block__img">
                        {%include '../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Запрос</h2>
                        <p>
                            Разработка
                            крупных ИТ-проектов
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-2">
                    <div class="icon-block__img">
                        {%include '../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Запрос</h2>
                        <p>
                            Разработка
                            крупных ИТ-проектов
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-3">
                    <div class="icon-block__img">
                        {%include '../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Запрос</h2>
                        <p>
                            Разработка
                            крупных ИТ-проектов
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-4">
                    <div class="icon-block__img">
                        {%include '../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Запрос</h2>
                        <p>
                            Разработка
                            крупных ИТ-проектов
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-5">
                    <div class="icon-block__img">
                        {%include '../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Запрос</h2>
                        <p>
                            Разработка
                            крупных ИТ-проектов
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-6">
                    <div class="icon-block__img">
                        {%include '../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Запрос</h2>
                        <p>
                            Разработка
                            крупных ИТ-проектов
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-7">
                        <div class="icon-block__img">
                            {%include '../svg/_dogovor-red.njk' %}
                        </div>
                        <div class="icon-block__text">
                            <h2>Запрос</h2>
                            <p>
                                Разработка
                                крупных ИТ-проектов
                            </p>
                        </div>
                    </div>
                <div class="icon-block icon-block--bordered grid-tpl-8">
                    <div class="icon-block__img">
                        {%include '../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Запрос</h2>
                        <p>
                            Разработка
                            крупных ИТ-проектов
                        </p>
                    </div>
                </div>
            </div>
            <div class="banner__btn-wrap wrap-item">
                {%include '../components/_main-button.njk' %}
            </div>
        </div>
    </div>
</section>