<section class="section--about-us section" id="about-us">
    <div class="container">
        <div class="about-us">
            <h3 class="section__title">
                Почему выбирают нас?
            </h3>
            <div class="about-us__lines">
                <div class="about-us__lines__item-tpl-1-2">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>
                <div class="about-us__lines__item-tpl-2-3">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>
                <div class="about-us__lines__item-tpl-3-4">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>
                <div class="about-us__lines__item-tpl-4-5">
                {%include '../svg/punktir/Punktir.njk'%}
                </div>
                <div class="about-us__lines__item-tpl-5-6">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>
                <div class="about-us__lines__item-tpl-6-7">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>
                <div class="about-us__lines__item-tpl-7-8">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>
                <div class="about-us__lines__item-tpl-8-9">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>
                <div class="about-us__lines__item-tpl-9-10">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>
                <div class="about-us__lines__item-tpl-10-11">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>
                <div class="about-us__lines__item-tpl-11-12">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>
                <div class="about-us__lines__item-tpl-11-12">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>

            </div>
            <div class="about-us__wrapper">

                <div class="icon-block icon-block--bordered grid-tpl-1">
                    <div class="icon-block__img">
                        {%include '../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Уникальность</h2>
                        <p>
                            Исключительные решения
                            для каждого клиента
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-2">
                    <div class="icon-block__img">
                        {%include '../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2> Ответственность</h2>
                        <p>
                            Надёжный и легитимный
                            подход к реализации проекта
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-3">
                    <div class="icon-block__img">
                        {%include '../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Эффективность</h2>
                        <p>
                            Повышаем продуктивность
                            Вашего бизнеса за счёт
                            цифровизации процессов
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-4">
                    <div class="icon-block__img">
                        {%include '../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Тестирование</h2>
                        <p>
                            Внимание к деталям.
                            Множественные тесты
                            перед реализацией
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-5">
                    <div class="icon-block__img">
                        {%include '../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Инновационность</h2>
                        <p>
                            Мы используем современные
                            технологии в проектах
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-6">
                    <div class="icon-block__img">
                        {%include '../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Бонус</h2>
                        <p>
                            Бесплатный лендинг
                            за отзыв и пост в соцсетях
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-7">
                        <div class="icon-block__img">
                            {%include '../svg/_dogovor-red.njk' %}
                        </div>
                        <div class="icon-block__text">
                            <h2>Экономичность</h2>
                            <p>
                                Вы платите только
                                за те услуги, которые
                                Вам действительно нужны
                            </p>
                        </div>
                    </div>
                <div class="icon-block icon-block--bordered grid-tpl-8">
                    <div class="icon-block__img">
                        {%include '../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Компетенция</h2>
                        <p>
                            Знание современного рынка
                            информационных технологий
                        </p>
                    </div>
                </div>
            </div>
            <div class="banner__btn-wrap wrap-item">
                {%include '../components/_main-button.njk' %}
            </div>
        </div>
    </div>
</section>