<section class="section--banner section" id="banner">

    <div class="container">

        <div class="banner">{#position relative#}
            <div class="banner__lines">
                <div class="banner__lines__item-title">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>
                <div class="banner__lines__item-title-bottom">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>
                <div class="banner__lines__item-bottom-roz">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>
                <div class="banner__lines__item-roz-soz">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>
                <div class="banner__lines__item-soz-vned">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>
                <div class="banner__lines__item-vned">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>
                <div class="banner__lines__item-vned-bottom-top">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>
                <div class="banner__lines__item-vned-bottom">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>
                <div class="banner__lines__item-vned-btm">
                    {%include '../svg/punktir/Punktir.njk'%}
                </div>

            </div>

            <div class="main__title__wrapper">
                <h1 class="main__title">
                    <span class="title__text caption ">[Квадрат]</span>
                    <span class="title__text">—</span>
                    <span class="title__text">цифровые решения</span>
                </h1>
            </div>

            <div class="icons-block">
                <div class="icons-block__item">
                    <div class="icons-block__img">
                        {% include '../svg/banner/Razrabotka.njk' %}
                    </div>
                    <div class="icons-block__text">
                        <h2>
                            Разработка
                            крупных ИТ-проектов
                        </h2>
                    </div>

                </div>
                <div class="icons-block__item">
                    <div class="icons-block__img">
                        {% include '../svg/banner/Sozdanie.njk' %}
                    </div>
                    <div class="icons-block__text">
                        <h2>
                            Создание
                            корпоративных web-сайтов, мобильных приложений
                        </h2>
                    </div>

                </div>
                <div class="icons-block__item">
                    <div class="icons-block__img">
                        {% include '../svg/banner/Vnedrenie.njk' %}
                    </div>
                    <div class="icons-block__text">
                        <h2>
                            Внедрение
                            ИТ-решений
                            в бизнес-процессы организаций
                        </h2>
                    </div>

                </div>
            </div>

            <div class="banner__btn-wrap">
                {% include '../components/_main-button.njk' %}
            </div>
        </div>

    </div>

</section>