<section class="section--clients section" id="clients">
    <div class="container">
        <div class="clients">
            <h3 class="section__title">
                Наши клиенты
            </h3>
            <div class="clients__wrap">
                <div class="clients__item">
                    {% include '../svg/_partners-Rostec.njk' %}
                </div>
                <div class="clients__item">
                    {% include '../svg/_partners-Design.njk' %}
                </div>
                <div class="clients__item">
                    {% include '../svg/_partners-43.njk' %}
                </div>
                <div class="clients__item">
                    {% include '../svg/_partners-Market.njk' %}
                </div>
                <div class="clients__item">
                    {% include '../svg/_partners-Amerika.njk' %}
                </div>
            </div>

        </div>
    </div>

</section>