<section class="section--contacts section" id="contacts">
    <div class="container">
        <div class="contacts">
            <h3 class="section__title">
                Контакты
            </h3>
            <div class="contacts__block">

                <div class="contacts__info">
                    <div class="contacts__title">

                        Свяжитесь с нами любым удобным способом

                    </div>

                    <div class="contacts__info__wrap">
                        <div itemscope itemtype = "#">
                            <div class="contacts__info__item" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                                <div class="svg-img">
                                    {% include '../svg/map/Telefon-red.njk' %}
                                </div>
                                <div class="item-cont">
                                    <a  href="tel:+79006149797"><span itemprop="telephone">+7 (900) 614-97-97</span></a>
                                </div>

                            </div>
                            <div class="contacts__info__item" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                                <div class="svg-img">
                                    {% include '../svg/map/Pochta-red.njk' %}
                                </div>
                                <div class="item-cont">
                                    <p class="contacts__text">
                                        info@сquared.com
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="contacts__info__item" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">

                            <div class="svg-img">
                                {% include '../svg/map/Marker-red.njk' %}
                            </div>
                            <div class="item-cont">
                                <p class="contacts__text">
                                    <span itemprop="addressLocality">Москва</span>, <span itemprop="streetAddress">Варшавское ш., д. 39</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <button href="#clients" class=" btn btn--main btn--m btn-wrap__desc">
                        Отправить запрос
                    </button>
                </div>

                <div class="contacts__map" id="map">

                </div>
                <button href="#clients" class="btn btn--main btn--m btn-wrap__mob">
                    Связаться с нами
                </button>
            </div>
        </div>
    </div>

</section>