<section class="section--contacts section" id="">
    <div class="container">
        <div class="contacts">
            <h3 class="section__title">
                Контакты
            </h3>
            <div class="contacts__block">

                <div class="contacts__info">
                    <div class="contacts__title">

                        Свяжитесь с нами любым удобным способом

                    </div>

                    <div class="contacts__info__wrap">
                        <div class="contacts__info__item">
                            <div class="svg-img">
                                {% include '../svg/map/Telefon-red.njk' %}
                            </div>
                            <div class="item-cont">
                                <a  href="tel:+79006149797">+7 (900) 614-97-97</a>
                            </div>

                        </div>
                        <div class="contacts__info__item">
                            <div class="svg-img">
                                {% include '../svg/map/Pochta-red.njk' %}
                            </div>
                            <div class="item-cont">
                                <p class="contacts__text">
                                    info@сquared.com
                                </p>
                            </div>
                        </div>
                        <div class="contacts__info__item">

                            <div class="svg-img">
                                {% include '../svg/map/Marker-red.njk' %}
                            </div>
                            <div class="item-cont">
                                <p class="contacts__text">
                                    Москва, Варшавское ш., д. 39
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class=" btn btn--main btn--l btn-wrap__desc">
                        Отправить запрос
                    </div>
                </div>

                <div class="contacts__map" id="map">

                </div>
                <div class="btn btn--main btn--l btn-wrap__mob">
                    Отправить запрос
                </div>
            </div>
        </div>
    </div>

</section>