<section class="section--process" id="process">
    <div class="container">
        <div class="process">
            <h3 class="section__title">
                Процесс
            </h3>
            <div class="process__wrapper">
                <div class="icon-block icon-block--bordered grid-item-1">
                    <div class="icon-block__img">
                        {%include '../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Запрос</h2>
                        <p>
                            Разработка
                            крупных ИТ-проектов
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-item-2">
                    <div class="icon-block__img">
                        {%include '../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Запрос</h2>
                        <p>
                            Разработка
                            крупных ИТ-проектов
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-item-3">
                    <div class="icon-block__img">
                        {%include '../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Запрос</h2>
                        <p>
                            Разработка
                            крупных ИТ-проектов
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-item-4">
                    <div class="icon-block__img">
                        {%include '../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Запрос</h2>
                        <p>
                            Разработка
                            крупных ИТ-проектов
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-item-5">
                    <div class="icon-block__img">
                        {%include '../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Запрос</h2>
                        <p>
                            Разработка
                            крупных ИТ-проектов
                        </p>
                    </div>
                </div>
            </div>
            <div class="banner__btn-wrap wrap-item">
                {%include '../components/_main-button.njk' %}
            </div>
        </div>
    </div>

</section>