<section class="section--reviews section" id="reviews">
    <div class="container">
        <div class="reviews">
            <h3 class="section__title">
                Наши реализованные проекты
            </h3>
            <div class="carousel__wrapper">
                <div class="reviews-slider  owl-carousel owl-theme js--owl">
                    <div class="reviews-slider__item">
                        <p class="reviews__text">
                            Отзыв клиента о том, как всё было замечательно
                            реализовано. Лучше всего реальный.
                            Отзыв клиента о том, как всё было замечательно
                            реализовано. Лучше всего реальный.
                        </p>
                        <a  href="#" class="reviews__link">
                            Имя того, кто оставил отзыв, можно привязать
                            ссылку на реальный отзыв
                            в Сети
                        </a>
                    </div>
                    <div class="reviews-slider__item">
                        <p class="reviews__text">
                            Отзыв клиента о том, как всё было замечательно
                            реализовано. Лучше всего реальный.
                            Отзыв клиента о том, как всё было замечательно
                            реализовано. Лучше всего реальный.
                        </p>
                        <a  href="#" class="reviews__link">
                            Имя того, кто оставил отзыв, можно привязать
                            ссылку на реальный отзыв
                            в Сети
                        </a>
                    </div>
                    <div class="reviews-slider__item">
                        <p class="reviews__text">
                            Отзыв клиента о том, как всё было замечательно
                            реализовано. Лучше всего реальный.
                            Отзыв клиента о том, как всё было замечательно
                            реализовано. Лучше всего реальный.
                        </p>
                        <a  href="#" class="reviews__link">
                            Имя того, кто оставил отзыв, можно привязать
                            ссылку на реальный отзыв
                            в Сети
                        </a>
                    </div>
                </div>

                <div class="carousel__dots">

                </div>
            </div>

        </div>
    </div>

</section>