<section class="section--we-do section" id="we-do">
    <div class="container">
        <div class="we-do">
            <h3 class="section__title">
                Наши достижения
            </h3>
            <div class="counter">
                <div class="counter__item">
                    <p class="counter__number"><span class="js--count">138</span></p>
                    <p class="counter__text">
                        реализованных
                        проекта
                    </p>
                </div>
                <div class="counter__item">
                    <p class="counter__number"><span class="js--count">4 </span>года</p>
                    <p class="counter__text">
                        профессионального опыта в сфере ИТ
                    </p>
                </div>
                <div class="counter__item">
                    <p class="counter__number"><span class="js--count">5 </span>млн. ₽</p>
                    <p class="counter__text">
                        за год сэкономили
                        наши клиенты
                    </p>
                </div>
                <div class="counter__item">
                    <p class="counter__number"><span class="js--count">138</span>%</p>
                    <p class="counter__text">
                        эффективные
                        решения
                    </p>
                </div>

            </div>

            <div class="we-do__text ">
                <p>
                    После интеграции наших цифровых решений эффективность
                    бизнес-процессов организации повышается в 1,5 раза
                    за счёт использования последних достижений
                    информационных технологий
                </p>
            </div>
        </div>
    </div>
</section>