<div class="footer">
    <div class="footer__container">
        <div class="footer__img">
            <img src="../assets/img/fusion.png" alt="">
        </div>
        <div class="footer__wrapper">
            <h class="footer__contact">
                California Office
            </h>
            <p class="footer__address">
                4243 Woodland Terrace
                Sacramento, CA 95814
            </p>
            <p class="footer__phone">
                916 753 2645
            </p>
        </div>
        <div class="footer__wrapper">
            <h class="footer__contact">
                New york Office
            </h>
            <p class="footer__address">
                885 Oakwood Avenue
                New York, NY 10013
            </p>
            <p class="footer__phone">
                212 660 0744
            </p>
        </div>
        <div class="footer__wrapper">
            <h class="footer__contact">
                Other Contact
            </h>
            <p class="footer__address">
                jobs@templateocean.com
            </p>
            <div class="footer__icon">
                <a href="">
                    <i class="fab fa-telegram"></i>
                </a>
                <a href="">
                    <i class="fab fa-twitter-square"></i>
                </a>
                <a href="">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</div>