.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  
  padding: .3em .5em;
  font-size: 19px;
  font-family: $fontMontserrat;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  border: none;
  text-align: center;
  
  &--main {
    height: 48px;
    
    font-size: 19px;
    font-weight: 400;
    line-height: 25.82px;
    letter-spacing: 0.2px;
    
    box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(to right, #8f2480 0%, #770065 100%);
  }
  
  &--f {
    color: #020101;
    
    background-color: #767676 ;

    font-size: 19px;
    font-weight: 400;
    line-height: 25.82px;
    letter-spacing: 0.2px;
  
    box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.35);
   
    &:active {
      background-image: linear-gradient(to right, #8f2480 0%, #770065 100%);
    }
  }
  
  //medium
  &--m {
    max-width: 275px;
    width: 100%;
    @media (max-width: 768px) {
      max-width: 210px;
    }
    @media (max-width: 479px) {
      max-width: 100%;
    }
  }
  
  //large
  &--l {
    max-width: 315px;
    width: 100%;
    @media (max-width: 1024px) {
          max-width: 230px;
    }
    @media (max-width: 768px) {
      max-width: 210px;
    }
    @media (max-width: 479px) {
      max-width: 100%;
    }
  }
}