<section class="section--contact-us section">
    {%include '../modules/_headlines.njk' %}
    <div class="container">
        <div class="contact-us">
            <div class="contact-us__form">
                <form class="form" action="#" method="GET" autocomplete="on">
                    <p class="form__field">
                        <input class="input" type="text" name="name" id="name">
                        <label for="name"> YOUR NAME</label>
                    </p>
                    <p class="form__field">
                        <input class="input"  type="text" name="company" id="company">
                        <label for="company"> COMPANY</label>
                    </p>
                    <p class="form__field">
                        <input class="input" type="email" name="email" id="email">
                        <label for="email"> YOUR EMAIL</label>
                    </p>
                    <p class="form__field">
                        <input class="input" type="text" name="subject" id="subject">
                        <label for="subject"> SUBJECT</label>
                    </p>
                    <p class="form__field form__field--full" >
                        <textarea class="input" name="message" id="message"></textarea>
                        <label for="message"> YOUR MESSAGE </label>
                    </p>

                        <button class="form-button" type="submit"> GET IN TOUCH</button>
                </form>
            </div>

        </div>
    </div>
</section>