<section class="section--our-team section">
    {%include '../modules/_headlines.njk' %}
    <div class="container">
        <div class="our-team__wrapper ">
            <div class="our-team js--slider-team">
                <div class="our-team__border">

                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="our-team__item">
                    <div class="our-expert">
                        <div class="our-expert__img ">
                            <img src="../assets/img/Layer_47.png" alt="">
                        </div>
                        <div class="our-expert__title">
                            <h3 class="our-expert__person">
                                Vincent Gardner
                            </h3>
                            <p class="our-expert__position">
                                Founder & CEO
                            </p>
                        </div>
                    </div>
                    <div class="article">
                        <p class="text">
                            Vincent is the Founder & CEO of Fusion. He is leading  t
                            he company to success with his experience & skill. Leader piverate
                            paradigm cortado ship it integrate Space Team parallax persons grok.
                            Parallax food truck fund 360 campaign
                            venture capital pitch deck actionable insight innovate.
                        </p>
                    </div>
                </div>
                <div class="our-team__item">
                    <div class="our-expert">
                        <div class="our-expert__img">
                            <img src="../assets/img/Layer_47.png" alt="">
                        </div>
                        <div class="our-expert__title">
                            <h3 class="our-expert__person">
                                Vincent Gardner
                            </h3>
                            <p class="our-expert__position">
                                Founder & CEO
                            </p>
                        </div>
                    </div>
                    <div class="article">
                        <h3 class="text">
                            Vincent is the Founder & CEO of Fusion. He is leading  t
                            he company to success with his experience & skill. Leader piverate
                            paradigm cortado ship it integrate Space Team parallax persons grok.
                            Parallax food truck fund 360 campaign
                            venture capital pitch deck actionable insight innovate.
                        </h3>
                    </div>
                </div>
                <div class="our-team__item">
                    <div class="our-expert">
                        <div class="our-expert__img">
                            <img src="../assets/img/Layer_47.png" alt="">
                        </div>
                        <div class="our-expert__title">
                            <h3 class="our-expert__person">
                                Vincent Gardner
                            </h3>
                            <p class="our-expert__position">
                                Founder & CEO
                            </p>
                        </div>
                    </div>
                    <div class="article">
                        <h3 class="text">
                            Vincent is the Founder & CEO of Fusion. He is leading  t
                            he company to success with his experience & skill. Leader piverate
                            paradigm cortado ship it integrate Space Team parallax persons grok.
                            Parallax food truck fund 360 campaign
                            venture capital pitch deck actionable insight innovate.
                        </h3>
                    </div>
                </div>
                <div class="our-team__item">
                    <div class="our-expert">
                        <div class="our-expert__img">
                            <img src="../assets/img/Layer_47.png" alt="">
                        </div>
                        <div class="our-expert__title">
                            <h3 class="our-expert__person">
                                Vincent Gardner
                            </h3>
                            <p class="our-expert__position">
                                Founder & CEO
                            </p>
                        </div>
                    </div>
                    <div class="article">
                        <h3 class="text">
                            Vincent is the Founder & CEO of Fusion. He is leading  t
                            he company to success with his experience & skill. Leader piverate
                            paradigm cortado ship it integrate Space Team parallax persons grok.
                            Parallax food truck fund 360 campaign
                            venture capital pitch deck actionable insight innovate.
                        </h3>
                    </div>
                </div>
                <div class="our-team__item">
                    <div class="our-expert">
                        <div class="our-expert__img">
                            <img src="../assets/img/Layer_47.png" alt="">
                        </div>
                        <div class="our-expert__title">
                            <h3 class="our-expert__person">
                                Vincent Gardner
                            </h3>
                            <p class="our-expert__position">
                                Founder & CEO
                            </p>
                        </div>
                    </div>
                    <div class="article">
                        <h3 class="text">
                            Vincent is the Founder & CEO of Fusion. He is leading  t
                            he company to success with his experience & skill. Leader piverate
                            paradigm cortado ship it integrate Space Team parallax persons grok.
                            Parallax food truck fund 360 campaign
                            venture capital pitch deck actionable insight innovate.
                        </h3>
                    </div>
                </div>
                <div class="our-team__item">
                    <div class="our-expert">
                        <div class="our-expert__img">
                            <img src="../assets/img/Layer_47.png" alt="">
                        </div>
                        <div class="our-expert__title">
                            <h3 class="our-expert__person">
                                Vincent Gardner
                            </h3>
                            <p class="our-expert__position">
                                Founder & CEO
                            </p>
                        </div>
                    </div>
                    <div class="article">
                        <h3 class="text">
                            Vincent is the Founder & CEO of Fusion. He is leading  t
                            he company to success with his experience & skill. Leader piverate
                            paradigm cortado ship it integrate Space Team parallax persons grok.
                            Parallax food truck fund 360 campaign
                            venture capital pitch deck actionable insight innovate.
                        </h3>
                    </div>
                </div>
                <div class="our-team__item">
                    <div class="our-expert">
                        <div class="our-expert__img">
                            <img src="../assets/img/Layer_47.png" alt="">
                        </div>
                        <div class="our-expert__title">
                            <h3 class="our-expert__person">
                                Vincent Gardner
                            </h3>
                            <p class="our-expert__position">
                                Founder & CEO
                            </p>
                        </div>
                    </div>
                    <div class="article">
                        <h3 class="text">
                            Vincent is the Founder & CEO of Fusion. He is leading  t
                            he company to success with his experience & skill. Leader piverate
                            paradigm cortado ship it integrate Space Team parallax persons grok.
                            Parallax food truck fund 360 campaign
                            venture capital pitch deck actionable insight innovate.
                        </h3>
                    </div>
                </div>
                <div class="our-team__item">
                    <div class="our-expert">
                        <div class="our-expert__img">
                            <img src="../assets/img/Layer_47.png" alt="">
                        </div>
                        <div class="our-expert__title">
                            <h3 class="our-expert__person">
                                Vincent Gardner
                            </h3>
                            <p class="our-expert__position">
                                Founder & CEO
                            </p>
                        </div>
                    </div>
                    <div class="article">
                        <h3 class="text">
                            Vincent is the Founder & CEO of Fusion. He is leading  t
                            he company to success with his experience & skill. Leader piverate
                            paradigm cortado ship it integrate Space Team parallax persons grok.
                            Parallax food truck fund 360 campaign
                            venture capital pitch deck actionable insight innovate.
                        </h3>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>