<section class="section--our-services section">
    {%include '../modules/_headlines.njk' %}
    <div class="container">
        <div class="our-services">
            <div class="our-services__details">
                <div class="our-services__details__proffer">
                    <i class="fab fa-angellist"></i>
                    <h3 class="details-title">
                        Strategy.
                    </h3>
                    <p class="details-text">
                        Ship it user story iterate engaging
                        co-working intuitive pitch deck hacker prototype SpaceTeam user centered design big data.
                    </p>
                    <div class="subscribe">
                        <a class="main-btn" href="https://ua.igotoworld.com/ua/article/948_krasiveyshye-dvorcy-ukrainy.htm">
                            See Details<span class="arrow"></span>
                        </a>
                    </div>
                </div>
                <div class="our-services__details__proffer">
                    <i class="fab fa-github-square"></i>
                    <h3 class="details-title">
                        Branding.
                    </h3>
                    <p class="details-text">
                        Ship it user story iterate engaging
                        co-working intuitive pitch deck hacker prototype SpaceTeam user centered design big data.
                    </p>
                    <div class="subscribe">
                        <a class="main-btn" href="https://ua.igotoworld.com/ua/article/948_krasiveyshye-dvorcy-ukrainy.htm">
                            See Details<span class="arrow"></span>
                        </a>
                    </div>
                </div>
                <div class="our-services__details__proffer">
                    <i class="fab fa-algolia"></i>
                    <h3 class="details-title">
                        Design.
                    </h3>
                    <p class="details-text">
                        Ship it user story iterate engaging
                        co-working intuitive pitch deck hacker prototype SpaceTeam user centered design big data.
                    </p>
                    <div class="subscribe">
                        <a class="main-btn" href="https://ua.igotoworld.com/ua/article/948_krasiveyshye-dvorcy-ukrainy.htm">
                            See Details<span class="arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>