<section class="section--our-team section">
    {%include '../modules/_headlines.njk' %}

    {#<div class="container">#}
        {#<div class="row">#}
            {#<div id="testimonial-slider" class="owl-carousel">#}
                 {#<div class="testimonial">#}
                     {#<span class="icon fa fa-quote-left"></span>#}
                     {#<p class="description">#}
                         {#Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.#}
                     {#</p>#}
                 {#</div>#}
            {#</div>#}

        {#</div>#}
    {#</div>#}
    
    <div class="container">
        <div class="our-team__wrapper ">
            <div class="our-team js--slider-team">
                <div class="our-team__border">

                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="our-team__item">
                    <div class="our-expert">
                        <div class="our-expert__img ">
                            <div class="our-expert__img__wrap">
                                <img src="./assets/img/Layer_47.png" alt="">
                            </div>
                        </div>
                        <div class="our-expert__title">
                            <h3 class="our-expert__name">
                                Vincent Gardner
                            </h3>
                            <p class="our-expert__position">
                                Founder & CEO
                            </p>
                        </div>
                    </div>
                    <div class="article">
                        <p class="text">
                            Vincent is the Founder & CEO of Fusion. He is leading  t
                            he company to success with his experience & skill. Leader piverate
                            paradigm cortado ship it integrate Space Team parallax persons grok.
                            Parallax food truck fund 360 campaign
                            venture capital pitch deck actionable insight innovate.
                        </p>
                    </div>
                </div>
                <div class="our-team__item">
                    <div class="our-expert">
                        <div class="our-expert__img ">
                            <div class="our-expert__img__wrap">
                                <img src="./assets/img/Layer_47.png" alt="">
                            </div>
                        </div>
                        <div class="our-expert__title">
                            <h3 class="our-expert__name">
                                Vincent Gardner
                            </h3>
                            <p class="our-expert__position">
                                Founder & CEO
                            </p>
                        </div>
                    </div>
                    <div class="article">
                        <p class="text">
                            Vincent is the Founder & CEO of Fusion. He is leading  t
                            he company to success with his experience & skill. Leader piverate
                            paradigm cortado ship it integrate Space Team parallax persons grok.
                            Parallax food truck fund 360 campaign
                            venture capital pitch deck actionable insight innovate.
                        </p>
                    </div>
                </div>
                <div class="our-team__item">
                    <div class="our-expert">
                        <div class="our-expert__img ">
                            <div class="our-expert__img__wrap">
                                <img src="./assets/img/Layer_47.png" alt="">
                            </div>
                        </div>
                        <div class="our-expert__title">
                            <h3 class="our-expert__name">
                                Vincent Gardner
                            </h3>
                            <p class="our-expert__position">
                                Founder & CEO
                            </p>
                        </div>
                    </div>
                    <div class="article">
                        <p class="text">
                            Vincent is the Founder & CEO of Fusion. He is leading  t
                            he company to success with his experience & skill. Leader piverate
                            paradigm cortado ship it integrate Space Team parallax persons grok.
                            Parallax food truck fund 360 campaign
                            venture capital pitch deck actionable insight innovate.
                        </p>
                    </div>
                </div>
                <div class="our-team__item">
                    <div class="our-expert">
                        <div class="our-expert__img ">
                            <div class="our-expert__img__wrap">
                                <img src="./assets/img/Layer_47.png" alt="">
                            </div>
                        </div>
                        <div class="our-expert__title">
                            <h3 class="our-expert__name">
                                Vincent Gardner
                            </h3>
                            <p class="our-expert__position">
                                Founder & CEO
                            </p>
                        </div>
                    </div>
                    <div class="article">
                        <p class="text">
                            Vincent is the Founder & CEO of Fusion. He is leading  t
                            he company to success with his experience & skill. Leader piverate
                            paradigm cortado ship it integrate Space Team parallax persons grok.
                            Parallax food truck fund 360 campaign
                            venture capital pitch deck actionable insight innovate.
                        </p>
                    </div>
                </div>
                <div class="our-team__item">
                    <div class="our-expert">
                        <div class="our-expert__img ">
                            <div class="our-expert__img__wrap">
                                <img src="./assets/img/Layer_47.png" alt="">
                            </div>
                        </div>
                        <div class="our-expert__title">
                            <h3 class="our-expert__name">
                                Vincent Gardner
                            </h3>
                            <p class="our-expert__position">
                                Founder & CEO
                            </p>
                        </div>
                    </div>
                    <div class="article">
                        <p class="text">
                            Vincent is the Founder & CEO of Fusion. He is leading  t
                            he company to success with his experience & skill. Leader piverate
                            paradigm cortado ship it integrate Space Team parallax persons grok.
                            Parallax food truck fund 360 campaign
                            venture capital pitch deck actionable insight innovate.
                        </p>
                    </div>
                </div>
                <div class="our-team__item">
                    <div class="our-expert">
                        <div class="our-expert__img ">
                            <div class="our-expert__img__wrap">
                                <img src="./assets/img/Layer_47.png" alt="">
                            </div>
                        </div>
                        <div class="our-expert__title">
                            <h3 class="our-expert__name">
                                Vincent Gardner
                            </h3>
                            <p class="our-expert__position">
                                Founder & CEO
                            </p>
                        </div>
                    </div>
                    <div class="article">
                        <p class="text">
                            Vincent is the Founder & CEO of Fusion. He is leading  t
                            he company to success with his experience & skill. Leader piverate
                            paradigm cortado ship it integrate Space Team parallax persons grok.
                            Parallax food truck fund 360 campaign
                            venture capital pitch deck actionable insight innovate.
                        </p>
                    </div>
                </div>
                <div class="our-team__item">
                    <div class="our-expert">
                        <div class="our-expert__img ">
                            <div class="our-expert__img__wrap">
                                <img src="./assets/img/Layer_47.png" alt="">
                            </div>
                        </div>
                        <div class="our-expert__title">
                            <h3 class="our-expert__name">
                                Vincent Gardner
                            </h3>
                            <p class="our-expert__position">
                                Founder & CEO
                            </p>
                        </div>
                    </div>
                    <div class="article">
                        <p class="text">
                            Vincent is the Founder & CEO of Fusion. He is leading  t
                            he company to success with his experience & skill. Leader piverate
                            paradigm cortado ship it integrate Space Team parallax persons grok.
                            Parallax food truck fund 360 campaign
                            venture capital pitch deck actionable insight innovate.
                        </p>
                    </div>
                </div>
                <div class="our-team__item">
                    <div class="our-expert">
                        <div class="our-expert__img ">
                            <div class="our-expert__img__wrap">
                                <img src="./assets/img/Layer_47.png" alt="">
                            </div>
                        </div>
                        <div class="our-expert__title">
                            <h3 class="our-expert__name">
                                Vincent Gardner
                            </h3>
                            <p class="our-expert__position">
                                Founder & CEO
                            </p>
                        </div>
                    </div>
                    <div class="article">
                        <p class="text">
                            Vincent is the Founder & CEO of Fusion. He is leading  t
                            he company to success with his experience & skill. Leader piverate
                            paradigm cortado ship it integrate Space Team parallax persons grok.
                            Parallax food truck fund 360 campaign
                            venture capital pitch deck actionable insight innovate.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>