<section class="section--partners section">
    {% include '../modules/_headlines.njk' %}
    <div class="container">
        <div class="partners">
            <div class="partners__icon">
                <div class="partners__item">
                    <a href="">
                        <img src="../assets/img/1.png" alt="">
                    </a>
                </div>
                <div class="partners__item">
                    <a href="">
                        <img src="../assets/img/2.png" alt="">
                    </a>
                </div>
                <div class="partners__item">
                    <a href="">
                        <img src="../assets/img/3.png" alt="">
                    </a>
                </div>
                <div class="partners__item">
                    <a href="">
                        <img src="../assets/img/4.png" alt="">
                    </a>
                </div>
                <div class="partners__item">
                    <a href="">
                        <img src="../assets/img/5.png" alt="">
                    </a>
                </div>
                <div class="partners__item">
                    <a href="">
                        <img src="../assets/img/6.png" alt="">
                    </a>
                </div>
                <div class="partners__item">
                    <a href="">
                        <img src="../assets/img/7.png" alt="">
                    </a>
                </div>
            </div>

            <div class="partners-slider__wrapper">{#//обгортка всего сладера#}
                <div class="partners-slider js--slider">
                    <div class="slider__item">
                        <div class="partners-slider__item">
                            <div class="partners-slider__img">
                                <img src="../assets/img/square.png" alt="">
                            </div>
                            <div class="partners-slider__text">
                                <blockquote class="quote">
                                    “These cartridges can be replaced by the printer ink of
                                    similar brand. Compatible Inkjet Cartridge will help you to
                                    make extra-ordinary savings with money back guarantee. As soon as the
                                    cartridge
                                    gets empty the ink that it contains begins to dry”
                                </blockquote>
                                <div class="partners-slider__title">
                                    <h3 class="person">
                                        Anthony Watkins
                                    </h3>
                                    <p class="position">
                                        VP of Product, VISA
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="partners-slider__item">
                            <div class="partners-slider__img">
                                <img src="../assets/img/square.png" alt="">
                            </div>
                            <div class="partners-slider__text">
                                <blockquote class="quote">
                                    “These cartridges can be replaced by the printer ink of
                                    similar brand. Compatible Inkjet Cartridge will help you to
                                    make extra-ordinary savings with money back guarantee. As soon as the
                                    cartridge
                                    gets empty the ink that it contains begins to dry”
                                </blockquote>
                                <div class="partners-slider__title">
                                    <h3 class="person">
                                        Anthony Watkins
                                    </h3>
                                    <p class="position">
                                        VP of Product, VISA
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="partners-slider__item">
                            <div class="partners-slider__img">
                                <img src="../assets/img/square.png" alt="">
                            </div>
                            <div class="partners-slider__text">
                                <blockquote class="quote">
                                    “These cartridges can be replaced by the printer ink of
                                    similar brand. Compatible Inkjet Cartridge will help you to
                                    make extra-ordinary savings with money back guarantee. As soon as the
                                    cartridge
                                    gets empty the ink that it contains begins to dry”
                                </blockquote>
                                <div class="partners-slider__title">
                                    <h3 class="person">
                                        Anthony Watkins
                                    </h3>
                                    <p class="position">
                                        VP of Product, VISA
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="partners-slider__item">
                            <div class="partners-slider__img">
                                <img src="../assets/img/square.png" alt="">
                            </div>
                            <div class="partners-slider__text">
                                <blockquote class="quote">
                                    “These cartridges can be replaced by the printer ink of
                                    similar brand. Compatible Inkjet Cartridge will help you to
                                    make extra-ordinary savings with money back guarantee. As soon as the
                                    cartridge
                                    gets empty the ink that it contains begins to dry”
                                </blockquote>
                                <div class="partners-slider__title">
                                    <h3 class="person">
                                        Anthony Watkins
                                    </h3>
                                    <p class="position">
                                        VP of Product, VISA
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>{#//сам сладер#}

                <div class="partners-slider__arrows">{#//стрелки сладера#}
                    <span class="slider-arrow__left slider-arrow js--arrow-left">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="slider-arrow__right slider-arrow js--arrow-right">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>