<section class="section--projects section">
    <div class="container">

        <div class="pr-slider-wrapper js--slider">
            <div class="pr-slide">
                <div class="projects">
                    <div class="projects__heading left">
                        <div class="subscribe">
                            <a class="main-btn" href="#">
                                Branding & design<span class="arrow"></span>
                            </a>
                        </div>
                    </div>
                    <div class="projects__img__wrap">
                        <div class="projects__img">
                            <img src="https://s.ftcdn.net/v2013/pics/all/curated/RKyaEDwp8J7JKeZWQPuOVWvkUjGQfpCx_cover_580.jpg?r=1a0fc22192d0c808b8bb2b9bcfbf4a45b1793687"
                                 alt="">
                        </div>
                        <div class="projects__img__title">
                            <h3 class="projects__count">Project First</h3>
                        </div>
                    </div>
                    <div class=" projects__heading right">
                        <div class="subscribe ">
                            <a class="main-btn"
                               href="https://ua.igotoworld.com/ua/article/948_krasiveyshye-dvorcy-ukrainy.htm">
                                Project Details<span class="arrow"></span>
                            </a>
                        </div>

                        <div class="subscribe ">
                            <a class="main-btn" href="#">
                                View Slides<span class="arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pr-slide">
                <div class="projects">
                    <div class="projects__heading left">
                        <div class="subscribe">
                            <a class="main-btn" href="#">
                                Branding & design<span class="arrow"></span>
                            </a>
                        </div>
                    </div>
                    <div class="projects__img__wrap">
                        <div class="projects__img">
                            <img src="https://s.ftcdn.net/v2013/pics/all/curated/RKyaEDwp8J7JKeZWQPuOVWvkUjGQfpCx_cover_580.jpg?r=1a0fc22192d0c808b8bb2b9bcfbf4a45b1793687"
                                 alt="">
                        </div>
                        <div class="projects__img__title">
                            <h3 class="projects__count">Project First</h3>
                        </div>
                    </div>
                    <div class=" projects__heading right">
                        <div class="subscribe ">
                            <a class="main-btn"
                               href="https://ua.igotoworld.com/ua/article/948_krasiveyshye-dvorcy-ukrainy.htm">
                                Project Details<span class="arrow"></span>
                            </a>
                        </div>

                        <div class="subscribe ">
                            <a class="main-btn" href="#">
                                View Slides<span class="arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pr-slide">
                <div class="projects">
                    <div class="projects__heading left">
                        <div class="subscribe">
                            <a class="main-btn" href="#">
                                Branding & design<span class="arrow"></span>
                            </a>
                        </div>
                    </div>
                    <div class="projects__img__wrap">
                        <div class="projects__img">
                            <img src="https://s.ftcdn.net/v2013/pics/all/curated/RKyaEDwp8J7JKeZWQPuOVWvkUjGQfpCx_cover_580.jpg?r=1a0fc22192d0c808b8bb2b9bcfbf4a45b1793687"
                                 alt="">
                        </div>
                        <div class="projects__img__title">
                            <h3 class="projects__count">Project First</h3>
                        </div>
                    </div>
                    <div class=" projects__heading right">
                        <div class="subscribe ">
                            <a class="main-btn"
                               href="https://ua.igotoworld.com/ua/article/948_krasiveyshye-dvorcy-ukrainy.htm">
                                Project Details<span class="arrow"></span>
                            </a>
                        </div>

                        <div class="subscribe ">
                            <a class="main-btn" href="#">
                                View Slides<span class="arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pr-slide">
                <div class="projects">
                    <div class="projects__heading left">
                        <div class="subscribe">
                            <a class="main-btn" href="#">
                                Branding & design<span class="arrow"></span>
                            </a>
                        </div>
                    </div>
                    <div class="projects__img__wrap">
                        <div class="projects__img">
                            <img src="https://s.ftcdn.net/v2013/pics/all/curated/RKyaEDwp8J7JKeZWQPuOVWvkUjGQfpCx_cover_580.jpg?r=1a0fc22192d0c808b8bb2b9bcfbf4a45b1793687"
                                 alt="">
                        </div>
                        <div class="projects__img__title">
                            <h3 class="projects__count">Project First</h3>
                        </div>
                    </div>
                    <div class=" projects__heading right">
                        <div class="subscribe ">
                            <a class="main-btn"
                               href="https://ua.igotoworld.com/ua/article/948_krasiveyshye-dvorcy-ukrainy.htm">
                                Project Details<span class="arrow"></span>
                            </a>
                        </div>

                        <div class="subscribe ">
                            <a class="main-btn" href="#">
                                View Slides<span class="arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>