<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta property="og:title"
      content="[PC Build] — digital perfection"/>
<meta property="og:type"
      content="website"/>
<meta property="og:url"
      content="#"/>
<meta property="og:image"
      content="./assets/img/background/banner/banner-1.png"/>
<meta property="og:locale"
      content="ru_RU"/>
<meta property="og:locale:alternate"
      content="en_EN"/>
<meta property="og:locale:alternate"
      content="de_DE"/>
<meta property="og:description"
      content="We assemble, configure and optimize computers for any of your tasks, reducing cost of the services by 30%
               due to our knowledge and wide
               network of partnerships"/>
<meta property="og:site_name" content="[PC Build] — digital perfection"/>

<!-- CSS styles -->
<link rel="stylesheet" href="assets/css/style.css">