/*----- import helpers -------------------------------------------*/
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: 'Cormorant Garamond';
  src: url("../fonts/cormorant/CormorantGaramond-Bold.eot");
  src: url("../fonts/cormorant/CormorantGaramond-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant/CormorantGaramond-Bold.woff2") format("woff2"), url("../fonts/cormorant/CormorantGaramond-Bold.woff") format("woff"), url("../fonts/cormorant/CormorantGaramond-Bold.ttf") format("truetype"), url("../fonts/cormorant/CormorantGaramond-Bold.svg#CormorantGaramond-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Cormorant Garamond';
  src: url("../fonts/cormorant/CormorantGaramond-BoldItalic.eot");
  src: url("../fonts/cormorant/CormorantGaramond-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant/CormorantGaramond-BoldItalic.woff2") format("woff2"), url("../fonts/cormorant/CormorantGaramond-BoldItalic.woff") format("woff"), url("../fonts/cormorant/CormorantGaramond-BoldItalic.ttf") format("truetype"), url("../fonts/cormorant/CormorantGaramond-BoldItalic.svg#CormorantGaramond-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Cormorant Garamond';
  src: url("../fonts/cormorant/CormorantGaramond-SemiBoldItalic.eot");
  src: url("../fonts/cormorant/CormorantGaramond-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant/CormorantGaramond-SemiBoldItalic.woff2") format("woff2"), url("../fonts/cormorant/CormorantGaramond-SemiBoldItalic.woff") format("woff"), url("../fonts/cormorant/CormorantGaramond-SemiBoldItalic.ttf") format("truetype"), url("../fonts/cormorant/CormorantGaramond-SemiBoldItalic.svg#CormorantGaramond-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Cormorant Garamond';
  src: url("../fonts/cormorant/CormorantGaramond-Light.eot");
  src: url("../fonts/cormorant/CormorantGaramond-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant/CormorantGaramond-Light.woff2") format("woff2"), url("../fonts/cormorant/CormorantGaramond-Light.woff") format("woff"), url("../fonts/cormorant/CormorantGaramond-Light.ttf") format("truetype"), url("../fonts/cormorant/CormorantGaramond-Light.svg#CormorantGaramond-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Cormorant Garamond';
  src: url("../fonts/cormorant/CormorantGaramond-LightItalic.eot");
  src: url("../fonts/cormorant/CormorantGaramond-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant/CormorantGaramond-LightItalic.woff2") format("woff2"), url("../fonts/cormorant/CormorantGaramond-LightItalic.woff") format("woff"), url("../fonts/cormorant/CormorantGaramond-LightItalic.ttf") format("truetype"), url("../fonts/cormorant/CormorantGaramond-LightItalic.svg#CormorantGaramond-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Cormorant Garamond';
  src: url("../fonts/cormorant/CormorantGaramond-Medium.eot");
  src: url("../fonts/cormorant/CormorantGaramond-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant/CormorantGaramond-Medium.woff2") format("woff2"), url("../fonts/cormorant/CormorantGaramond-Medium.woff") format("woff"), url("../fonts/cormorant/CormorantGaramond-Medium.ttf") format("truetype"), url("../fonts/cormorant/CormorantGaramond-Medium.svg#CormorantGaramond-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Cormorant Garamond';
  src: url("../fonts/cormorant/CormorantGaramond-Regular.eot");
  src: url("../fonts/cormorant/CormorantGaramond-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant/CormorantGaramond-Regular.woff2") format("woff2"), url("../fonts/cormorant/CormorantGaramond-Regular.woff") format("woff"), url("../fonts/cormorant/CormorantGaramond-Regular.ttf") format("truetype"), url("../fonts/cormorant/CormorantGaramond-Regular.svg#CormorantGaramond-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Cormorant Garamond';
  src: url("../fonts/cormorant/CormorantGaramond-Italic.eot");
  src: url("../fonts/cormorant/CormorantGaramond-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant/CormorantGaramond-Italic.woff2") format("woff2"), url("../fonts/cormorant/CormorantGaramond-Italic.woff") format("woff"), url("../fonts/cormorant/CormorantGaramond-Italic.ttf") format("truetype"), url("../fonts/cormorant/CormorantGaramond-Italic.svg#CormorantGaramond-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Cormorant Garamond';
  src: url("../fonts/cormorant/CormorantGaramond-SemiBold.eot");
  src: url("../fonts/cormorant/CormorantGaramond-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant/CormorantGaramond-SemiBold.woff2") format("woff2"), url("../fonts/cormorant/CormorantGaramond-SemiBold.woff") format("woff"), url("../fonts/cormorant/CormorantGaramond-SemiBold.ttf") format("truetype"), url("../fonts/cormorant/CormorantGaramond-SemiBold.svg#CormorantGaramond-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Cormorant Garamond';
  src: url("../fonts/cormorant/CormorantGaramond-MediumItalic.eot");
  src: url("../fonts/cormorant/CormorantGaramond-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant/CormorantGaramond-MediumItalic.woff2") format("woff2"), url("../fonts/cormorant/CormorantGaramond-MediumItalic.woff") format("woff"), url("../fonts/cormorant/CormorantGaramond-MediumItalic.ttf") format("truetype"), url("../fonts/cormorant/CormorantGaramond-MediumItalic.svg#CormorantGaramond-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-ExtraLight.eot");
  src: url("../fonts/montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/montserrat/Montserrat-ExtraLight.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-ExtraLight.svg#Montserrat-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Medium.eot");
  src: url("../fonts/montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-ExtraBoldItalic.eot");
  src: url("../fonts/montserrat/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-ExtraBoldItalic.svg#Montserrat-ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Thin.eot");
  src: url("../fonts/montserrat/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Thin.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Thin.woff") format("woff"), url("../fonts/montserrat/Montserrat-Thin.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-Thin.svg#Montserrat-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-BlackItalic.eot");
  src: url("../fonts/montserrat/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BlackItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-BlackItalic.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-BlackItalic.svg#Montserrat-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-SemiBoldItalic.eot");
  src: url("../fonts/montserrat/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Black.eot");
  src: url("../fonts/montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/montserrat/Montserrat-Black.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-Black.svg#Montserrat-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-ThinItalic.eot");
  src: url("../fonts/montserrat/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ThinItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-ThinItalic.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-ThinItalic.svg#Montserrat-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-ExtraLightItalic.eot");
  src: url("../fonts/montserrat/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-ExtraLightItalic.svg#Montserrat-ExtraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-BoldItalic.eot");
  src: url("../fonts/montserrat/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BoldItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-BoldItalic.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-BoldItalic.svg#Montserrat-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-ExtraBold.eot");
  src: url("../fonts/montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/montserrat/Montserrat-ExtraBold.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-ExtraBold.svg#Montserrat-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Regular.eot");
  src: url("../fonts/montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-SemiBold.eot");
  src: url("../fonts/montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Light.eot");
  src: url("../fonts/montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/montserrat/Montserrat-Light.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-MediumItalic.eot");
  src: url("../fonts/montserrat/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-MediumItalic.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-MediumItalic.svg#Montserrat-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-LightItalic.eot");
  src: url("../fonts/montserrat/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-LightItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-LightItalic.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-LightItalic.svg#Montserrat-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Italic.eot");
  src: url("../fonts/montserrat/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Italic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Italic.woff") format("woff"), url("../fonts/montserrat/Montserrat-Italic.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-Italic.svg#Montserrat-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Bold.eot");
  src: url("../fonts/montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-LightItalic.eot");
  src: url("../fonts/roboto/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-LightItalic.woff") format("woff"), url("../fonts/roboto/Roboto-LightItalic.ttf") format("truetype"), url("../fonts/roboto/Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-BlackItalic.eot");
  src: url("../fonts/roboto/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BlackItalic.woff") format("woff"), url("../fonts/roboto/Roboto-BlackItalic.ttf") format("truetype"), url("../fonts/roboto/Roboto-BlackItalic.svg#Roboto-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.eot");
  src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Black.eot");
  src: url("../fonts/roboto/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/roboto/Roboto-Black.woff") format("woff"), url("../fonts/roboto/Roboto-Black.ttf") format("truetype"), url("../fonts/roboto/Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Italic.eot");
  src: url("../fonts/roboto/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Italic.woff2") format("woff2"), url("../fonts/roboto/Roboto-Italic.woff") format("woff"), url("../fonts/roboto/Roboto-Italic.ttf") format("truetype"), url("../fonts/roboto/Roboto-Italic.svg#Roboto-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-MediumItalic.eot");
  src: url("../fonts/roboto/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-MediumItalic.woff") format("woff"), url("../fonts/roboto/Roboto-MediumItalic.ttf") format("truetype"), url("../fonts/roboto/Roboto-MediumItalic.svg#Roboto-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Light.eot");
  src: url("../fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype"), url("../fonts/roboto/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-BoldItalic.eot");
  src: url("../fonts/roboto/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BoldItalic.woff") format("woff"), url("../fonts/roboto/Roboto-BoldItalic.ttf") format("truetype"), url("../fonts/roboto/Roboto-BoldItalic.svg#Roboto-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-ThinItalic.eot");
  src: url("../fonts/roboto/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-ThinItalic.woff") format("woff"), url("../fonts/roboto/Roboto-ThinItalic.ttf") format("truetype"), url("../fonts/roboto/Roboto-ThinItalic.svg#Roboto-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Medium.eot");
  src: url("../fonts/roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype"), url("../fonts/roboto/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Bold.eot");
  src: url("../fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/roboto/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Thin.eot");
  src: url("../fonts/roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff"), url("../fonts/roboto/Roboto-Thin.ttf") format("truetype"), url("../fonts/roboto/Roboto-Thin.svg#Roboto-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourceSansPro/SourceSansPro-SemiBold.eot");
  src: url("../fonts/sourceSansPro/SourceSansPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/sourceSansPro/SourceSansPro-SemiBold.woff2") format("woff2"), url("../fonts/sourceSansPro/SourceSansPro-SemiBold.woff") format("woff"), url("../fonts/sourceSansPro/SourceSansPro-SemiBold.ttf") format("truetype"), url("../fonts/sourceSansPro/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourceSansPro/SourceSansPro-Light.eot");
  src: url("../fonts/sourceSansPro/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/sourceSansPro/SourceSansPro-Light.woff2") format("woff2"), url("../fonts/sourceSansPro/SourceSansPro-Light.woff") format("woff"), url("../fonts/sourceSansPro/SourceSansPro-Light.ttf") format("truetype"), url("../fonts/sourceSansPro/SourceSansPro-Light.svg#SourceSansPro-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourceSansPro/SourceSansPro-ExtraLightItalic.eot");
  src: url("../fonts/sourceSansPro/SourceSansPro-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sourceSansPro/SourceSansPro-ExtraLightItalic.woff2") format("woff2"), url("../fonts/sourceSansPro/SourceSansPro-ExtraLightItalic.woff") format("woff"), url("../fonts/sourceSansPro/SourceSansPro-ExtraLightItalic.ttf") format("truetype"), url("../fonts/sourceSansPro/SourceSansPro-ExtraLightItalic.svg#SourceSansPro-ExtraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourceSansPro/SourceSansPro-Black.eot");
  src: url("../fonts/sourceSansPro/SourceSansPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/sourceSansPro/SourceSansPro-Black.woff2") format("woff2"), url("../fonts/sourceSansPro/SourceSansPro-Black.woff") format("woff"), url("../fonts/sourceSansPro/SourceSansPro-Black.ttf") format("truetype"), url("../fonts/sourceSansPro/SourceSansPro-Black.svg#SourceSansPro-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourceSansPro/SourceSansPro-Bold.eot");
  src: url("../fonts/sourceSansPro/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sourceSansPro/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/sourceSansPro/SourceSansPro-Bold.woff") format("woff"), url("../fonts/sourceSansPro/SourceSansPro-Bold.ttf") format("truetype"), url("../fonts/sourceSansPro/SourceSansPro-Bold.svg#SourceSansPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourceSansPro/SourceSansPro-SemiBoldItalic.eot");
  src: url("../fonts/sourceSansPro/SourceSansPro-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sourceSansPro/SourceSansPro-SemiBoldItalic.woff2") format("woff2"), url("../fonts/sourceSansPro/SourceSansPro-SemiBoldItalic.woff") format("woff"), url("../fonts/sourceSansPro/SourceSansPro-SemiBoldItalic.ttf") format("truetype"), url("../fonts/sourceSansPro/SourceSansPro-SemiBoldItalic.svg#SourceSansPro-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourceSansPro/SourceSansPro-BlackItalic.eot");
  src: url("../fonts/sourceSansPro/SourceSansPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sourceSansPro/SourceSansPro-BlackItalic.woff2") format("woff2"), url("../fonts/sourceSansPro/SourceSansPro-BlackItalic.woff") format("woff"), url("../fonts/sourceSansPro/SourceSansPro-BlackItalic.ttf") format("truetype"), url("../fonts/sourceSansPro/SourceSansPro-BlackItalic.svg#SourceSansPro-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourceSansPro/SourceSansPro-Italic.eot");
  src: url("../fonts/sourceSansPro/SourceSansPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/sourceSansPro/SourceSansPro-Italic.woff2") format("woff2"), url("../fonts/sourceSansPro/SourceSansPro-Italic.woff") format("woff"), url("../fonts/sourceSansPro/SourceSansPro-Italic.ttf") format("truetype"), url("../fonts/sourceSansPro/SourceSansPro-Italic.svg#SourceSansPro-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourceSansPro/SourceSansPro-BoldItalic.eot");
  src: url("../fonts/sourceSansPro/SourceSansPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sourceSansPro/SourceSansPro-BoldItalic.woff2") format("woff2"), url("../fonts/sourceSansPro/SourceSansPro-BoldItalic.woff") format("woff"), url("../fonts/sourceSansPro/SourceSansPro-BoldItalic.ttf") format("truetype"), url("../fonts/sourceSansPro/SourceSansPro-BoldItalic.svg#SourceSansPro-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourceSansPro/SourceSansPro-LightItalic.eot");
  src: url("../fonts/sourceSansPro/SourceSansPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sourceSansPro/SourceSansPro-LightItalic.woff2") format("woff2"), url("../fonts/sourceSansPro/SourceSansPro-LightItalic.woff") format("woff"), url("../fonts/sourceSansPro/SourceSansPro-LightItalic.ttf") format("truetype"), url("../fonts/sourceSansPro/SourceSansPro-LightItalic.svg#SourceSansPro-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourceSansPro/SourceSansPro-ExtraLight.eot");
  src: url("../fonts/sourceSansPro/SourceSansPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/sourceSansPro/SourceSansPro-ExtraLight.woff2") format("woff2"), url("../fonts/sourceSansPro/SourceSansPro-ExtraLight.woff") format("woff"), url("../fonts/sourceSansPro/SourceSansPro-ExtraLight.ttf") format("truetype"), url("../fonts/sourceSansPro/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourceSansPro/SourceSansPro-Regular.eot");
  src: url("../fonts/sourceSansPro/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sourceSansPro/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/sourceSansPro/SourceSansPro-Regular.woff") format("woff"), url("../fonts/sourceSansPro/SourceSansPro-Regular.ttf") format("truetype"), url("../fonts/sourceSansPro/SourceSansPro-Regular.svg#SourceSansPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Variables
-------------------------------------------------------------------------------------*/
/* Mixin
-------------------------------------------------------------------------------------*/
/*----- import vendors -------------------------------------------*/
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.owl-height {
  transition: height .5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity .4s ease;
}

.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform .1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav {
  margin-top: 10px;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: .5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

/*----- import globals -------------------------------------------*/
/* Reset styles
-------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

*:before, *:after {
  box-sizing: border-box;
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
}

q:before, q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  appearance: textfield;
}

/* Base styles
-------------------------------------------------------------------------------------*/
body, html {
  position: relative;
  font: 400 1rem/1.5 sans-serif;
  color: #000000;
  background-color: #fff;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.no-scroll, html.no-scroll {
  overflow: hidden;
}

body {
  background-image: url("../img/background/bg.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 980px;
  padding: 0 15px;
  margin: 0 auto;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (max-width: 1024px) {
  .container {
    max-width: 760px;
  }
}

.container--nav {
  width: 100%;
  height: 100%;
  max-width: 1370px;
  padding: 0 15px;
  margin: 0 auto;
}

.container--nav:before, .container--nav:after {
  content: " ";
  display: table;
}

.container--nav:after {
  clear: both;
}

@media (max-width: 1024px) {
  .container--nav {
    max-width: 990px;
  }
}

.container-fluid {
  width: 100%;
  padding: 0 15px;
}

.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.main-wrapper {
  min-height: 100vh;
  overflow: hidden;
}

.wow {
  visibility: visible !important;
}

/*----- import components -------------------------------------------*/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3em .5em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.btn--main {
  height: 48px;
  font-size: 22px;
  font-weight: 400;
  line-height: 25.82px;
  letter-spacing: 0.2px;
  box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.35);
  background-image: linear-gradient(to right, #b8000e 0%, #87000e 100%);
}

.btn--m {
  max-width: 275px;
  width: 100%;
}

.btn--l {
  max-width: 315px;
  width: 100%;
}

.icon-block--bordered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1b1b1b;
  box-shadow: 0 0 10px 1px #ffffff;
  min-height: 230px;
}

.icon-block__img {
  margin-bottom: 20px;
}

.icon-block__text {
  text-align: center;
}

.icon-block__text h2 {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}

.icon-block__text p {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

.main__title {
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.main__title__wrapper {
  margin: 135px 0;
}

@media (max-width: 992px) {
  .main__title__wrapper {
    margin: 50px 0;
  }
}

.main__title .caption {
  font-size: 45px;
}

.main__title__text {
  font-size: 35px;
}

.section__title {
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 90px;
}

@media (max-width: 992px) {
  .section__title {
    margin-bottom: 40px;
  }
}

/*------ import sections --------------------------------------------*/
.section {
  padding: 100px 0;
  z-index: 2;
}

@media (max-width: 992px) {
  .section {
    padding: 25px 0;
  }
}

.section--banner {
  position: relative;
  padding-top: 0;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
}

@media (min-width: 992px) {
  .section--banner {
    min-width: 900px;
  }
}

.section--banner:before {
  content: '';
  display: block;
  position: absolute;
  background-image: url("../img/background/overlay-top.png");
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.section--we-do {
  position: relative;
  width: 100%;
}

.section--about-us {
  position: relative;
  width: 100%;
}

.section--projects {
  position: relative;
  width: 100%;
}

.section--process {
  position: relative;
  width: 100%;
}

.section--clients {
  position: relative;
  width: 100%;
}

/*----- import modules -------------------------------------------*/
.header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navigation {
  margin: 0 auto;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav__item {
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.nav__item a {
  text-decoration: none;
  color: #ffffff;
  padding: .3em 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 300;
  position: relative;
  transition: all .3s ease-in-out;
}

.nav__item a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: all .3s ease-in-out;
}

.nav__item a:hover {
  color: #b7000e;
}

.nav__item a:hover:after {
  background-color: #b7000e;
}

/*----- import blocks -------------------------------------------*/
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.banner__btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.icons-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .icons-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
}

.icons-block__text {
  text-align: center;
}

.icons-block__text h2 {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26.9px;
  letter-spacing: 0.2px;
}

@media (max-width: 768px) {
  .icons-block__text {
    padding-left: 50px;
  }
}

@media (max-width: 480px) {
  .icons-block__text {
    padding-left: 25px;
  }
}

.icons-block__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 20px;
}

@media (max-width: 768px) {
  .icons-block__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
}

.icons-block__img {
  width: 39px;
  height: 49px;
  flex-shrink: 0;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .icons-block__img {
    margin: 0;
  }
}

.icons-block__img svg {
  width: 100%;
}

.we-do {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.we-do .counter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 170px;
}

.we-do .counter__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  width: 25%;
}

.we-do .counter__number {
  text-align: center;
  color: #b7000e;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 56.88px;
}

.we-do .counter__text {
  text-align: center;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 31.6px;
}

.we-do__text {
  display: flex;
  justify-content: flex-start;
  max-width: 581px;
  width: 100%;
}

.we-do__text p {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 37.92px;
}

@media (max-width: 992px) {
  .we-do .counter {
    margin-bottom: 70px;
    flex-wrap: wrap;
  }
  .we-do .counter__item {
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
}

@media (max-width: 768px) {
  .we-do .counter {
    margin-bottom: 70px;
    flex-wrap: wrap;
  }
  .we-do .counter__item {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
  .we-do .counter__number {
    padding-right: 15px;
  }
}

.about-us__wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin-bottom: 95px;
}

@media (min-width: 1024px) {
  .about-us__wrapper {
    padding: 0 15px;
    grid-gap: 30px;
  }
}

@media (min-width: 768px) {
  .about-us__wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .about-us__wrapper .grid-tpl-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .about-us__wrapper .grid-tpl-2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .about-us__wrapper .grid-tpl-3 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .about-us__wrapper .grid-tpl-4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .about-us__wrapper .grid-tpl-5 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .about-us__wrapper .grid-tpl-6 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .about-us__wrapper .grid-tpl-7 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .about-us__wrapper .grid-tpl-8 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}

@media (max-width: 480px) {
  .about-us__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.carousel__wrapper {
  position: relative;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #9c0315;
  z-index: 3;
}

.carousel__nav.owl-prev {
  left: 25px;
}

.carousel__nav.owl-prev span {
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #9c0315;
}

.carousel__nav.owl-next {
  right: 25px;
}

.carousel__nav.owl-next span {
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #9c0315;
}

.process__wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin-bottom: 95px;
}

@media (min-width: 1024px) {
  .process__wrapper {
    padding: 0 15px;
    grid-gap: 30px;
  }
}

@media (min-width: 768px) {
  .process__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .process__wrapper .grid-item-1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .process__wrapper .grid-item-2 {
    grid-column: 2/3;
    grid-row: 2/4;
  }
  .process__wrapper .grid-item-3 {
    grid-column: 3/4;
    grid-row: 3/5;
  }
  .process__wrapper .grid-item-4 {
    grid-column: 3/4;
    grid-row: 5/7;
  }
  .process__wrapper .grid-item-5 {
    grid-column: 2/3;
    grid-row: 6/8;
  }
}

@media (max-width: 767px) and (min-width: 480px) {
  .process__wrapper {
    grid-template-rows: repeat(2, 1fr);
  }
  .process__wrapper .grid-item-1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .process__wrapper .grid-item-2 {
    grid-column: 1/2;
    grid-row: 3/5;
  }
  .process__wrapper .grid-item-3 {
    grid-column: 1/2;
    grid-row: 5/7;
  }
  .process__wrapper .grid-item-4 {
    grid-column: 2/3;
    grid-row: 2/4;
  }
  .process__wrapper .grid-item-5 {
    grid-column: 2/3;
    grid-row: 4/6;
  }
}

@media (max-width: 480px) {
  .process__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.clients__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
  height: 110px;
  width: 20%;
}

.clients__item svg {
  height: 100%;
  width: 100%;
}

.count {
  font-size: 50px;
  color: #4ea7f9;
}

/*# sourceMappingURL=style.css.map */
