<section class="section--reviews section" id="reviews">
    <div class="container">
        <div class="reviews">
            <h3 class="section__title">
                Bewertungen
            </h3>
            <div class="wrap">
                <div class="carousel__wrapper">
                    <div class="reviews-slider  owl-carousel owl-theme js--owl">
                        <div class="reviews-slider__item">
                            <p class="reviews__text">
                                Kundenfeedback, wie alles bemerkenswert umgesetzt wurde.
                                Kundenfeedback, wie alles bemerkenswert umgesetzt wurde.
                            </p>
                            <a  href="#" class="reviews__link">
                                Der Name der Person, die die Bewertung abgegeben hat
                            </a>
                        </div>
                        <div class="reviews-slider__item">
                            <p class="reviews__text">
                                Kundenfeedback, wie alles bemerkenswert umgesetzt wurde.
                                Kundenfeedback, wie alles bemerkenswert umgesetzt wurde.
                            </p>
                            <a  href="#" class="reviews__link">
                                Der Name der Person, die die Bewertung abgegeben hat
                            </a>
                        </div>
                        <div class="reviews-slider__item">
                            <p class="reviews__text">
                                Kundenfeedback, wie alles bemerkenswert umgesetzt wurde.
                                Kundenfeedback, wie alles bemerkenswert umgesetzt wurde.
                            </p>
                            <a  href="#" class="reviews__link">
                                Der Name der Person, die die Bewertung abgegeben hat
                            </a>
                        </div>
                    </div>

                    <div class="carousel__dots">

                    </div>

                </div>
                <div class="reviews__btn-wrap btn--m">
                    {%include '../../components/main-button/_main-button_de.njk' %}
                </div>
            </div>
        </div>
    </div>

</section>