<section class="section--projects  section" id="projects">
    <div class="container">
        <div class="projects">
            <h3 class="section__title">
                Our completed projects
            </h3>
            <div class="carousel__wrapper ">

                <div class="projects-slider owl-carousel owl-theme js--owl" >
                    <div>
                        <picture>
                            <source media="(max-width: 480px)" srcset="./assets/img/slider-project/Build-mob.png">
                            <source media="(min-width: 1024)" srcset="./assets/img/slider-project/Build-desc.png">

                            <img src="./assets/img/slider-project/Build-desc.png" alt="Build">
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <source media="(max-width: 480px)" srcset="./assets/img/slider-project/Build-mob.png">
                            <source media="(min-width: 1024)" srcset="./assets/img/slider-project/Build-desc.png">

                            <img src="./assets/img/slider-project/Build-desc.png" alt="Build">
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <source media="(max-width: 480px)" srcset="./assets/img/slider-project/Build-mob.png">
                            <source media="(min-width: 1024)" srcset="./assets/img/slider-project/Build-desc.png">

                            <img src="./assets/img/slider-project/Build-desc.png" alt="Build">
                        </picture>
                    </div>
                </div>

                <div class="carousel__dots">

                </div>
            </div>

        </div>
    </div>


</section>