.clients {
  .contacts-form {
    //padding-bottom: 150px;
    @media (max-width: 768px) {
      padding-bottom: 50px;
    }
  }
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
  }
  
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 20px 10px;

    height: 110px;
    width: 20%;
    svg {
      height: 100%;
      width: 100%;

    }
  }
}


.count {
  font-size: 50px;
  color: #4ea7f9;
}