.contacts {
  .contacts-form {
    padding-bottom: 150px;
    @media (max-width: 768px) {
      padding-bottom: 50px;
    }
  }
  
  &__block {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      
    }
  }
  
 
  
  &__title , &__text{
    color: #ffffff;
    font-family: $fontSourceSansPro;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    max-width: 80%;
    align-self: flex-end;
    
    display: inline;
    
  }
  
  &__title {
    @media (max-width: 768px) {
      align-self: center;
    }
    
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    width: 40%;
    
    color: #ffffff;
    @media (max-width: 768px) {
      width: 100%;
      align-items: flex-end;
     
    }
    a {
      color: #ffffff;
      font-family: $fontSourceSansPro;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      @media (max-width: 480px) {
        .break {
          display: inline-block;
          word-wrap: break-word;
        }
      }
    }
    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      
      .svg-img {
        width: 15%;
        margin: 5% 5% 0 0;
        svg {
          text-align: center;
          width: 100%;
        }
      }
      
    }
    @media (max-width: 768px) {
      margin-bottom: 50px;
    }
    
  }
  &__map {
    width: calc(60% - 20px);
    height: 350px;
    box-shadow: 0px 0px 20px 1px #b6000e;
    @media (max-width: 768px) {
      width: 90%;
      box-shadow: none;
    }
  }
  .btn-wrap {
    display: flex;
    align-self: flex-end;
    &__mob {
      display: none;
      @media (max-width: 768px) {
        display: flex;
        align-items: center;
        margin-top: 60px;
      }
    }
    &__desc {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  
  
  
  
}
.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media (max-width: 768px) {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  
  
  &__text {
    color: #ffffff;
    font-family: $fontSourceSansPro;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 20px 0 10px;
    
    a {
      color: #b7000e;
      text-decoration: none;
      position: relative;
      @media (max-width: 480px) {
        word-wrap: break-spaces;
      }
      
      &:after {
        content: '';
        display: block;
        position: absolute;
        
        width: 220px;
        top: 20px;
        left: 0;
        height: 1px;
        background-color: #b7000e;
        
      }
    }
  }
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 730px;
  }
  
  &__fields {
    width: 30%;
    
    flex-direction: column;
    
    .form__field {
      height: 35px;
      margin-bottom: 20px;
      
      &:last-child {
        margin-bottom: 0;
      }
      
      label {
        
        top: 50%;
        transform: translateY(-50%);
      }
    }
    @media (max-width: 768px) {
      width: 75%;
      .form__field {
        &:last-child {
          margin-bottom: 20px;
        }
        
        label {
          
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    @media (max-width: 480px) {
      width: 100%;
    }
    
  }
  
  &__textarea {
    width: calc(70% - 20px);
    display: flex;
    justify-content: flex-start;
    min-height: 100%;
    @media (max-width: 768px) {
      width: 75%;
      height: 142px;
    }
    @media (max-width: 480px) {
      width:100%;
      height: 142px;
    }
  }
  
  &__field {
    display: flex;
    position: relative;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    
    label {
      display: block;
      position: absolute;
      left: 15px;
      top: 6px;
      font-size: 15px;
      
      
      
    }
    
    input,
    textarea {
      display: block;
      border: none;
      width: 100%;
      height: 100%;
      outline: none;
      padding: 10px 15px;
      
      background-color: transparent;
      
      &:focus,
      &:active,
      &.has-value {
        outline: none;
        
        & + label {
          opacity: 0;
          transition: all .3s ease-in-out;
        }
      }
    }
  }
  
}

//span {
//  color: #b7000e;
//}

.form__checkbox {
  margin: 15px 0 30px;
  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
    
  }
}


.form__checkbox label {
  position: relative;
  cursor: pointer;
}

.form__checkbox label:before {
  content:'';
  -webkit-appearance: none;
  background-color: #ffffff;
  border: 1px solid #1b1b1b;
  //box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  width: 34px;
  height: 34px;
  
  
}

.form__checkbox input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 13px;
  width: 6px;
  height: 14px;
  border: solid #b7000e;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
