.carousel {
  &__wrapper {
    position: relative;
  }
  
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    
    background: none;
    
    position: absolute;
    top: 50%;
    
    transform: translateY(-50%);
    
    border: 1px solid #9c0315;
    
    z-index: 3;
    
    &.owl-prev {
      left: 25px;
      
      span {
        font-size: 0;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        
        border-right: 10px solid #9c0315;;
      }
    }
    
    &.owl-next {
      right: 25px;
      
      span {
        font-size: 0;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        
        border-left: 10px solid #9c0315;
      }
    }
  }
  
  &__dots {
  
  }
}


