.carousel {
  &__wrapper {
    position: relative;
    box-shadow: 0px 0px 20px 1px #b6000e;
  }
  
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    
    background: none;
    
    position: absolute;
    top: 50%;
    
    transform: translateY(-50%);
    
    border: 1px solid #9c0315;
    
    z-index: 3;
    
    &.owl-prev {
      left: 25px;
      @media (max-width: 768px) {
        left: 10px;
      }
      @media (max-width: 480px) {
        left: 5px;
      }
      
      span {
        font-size: 0;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        
        border-right: 10px solid #9c0315;;
      }
    }
    
    &.owl-next {
      right: 25px;
      @media (max-width: 768px) {
        right: 10px;
      }
      @media (max-width: 480px) {
        right: 5px;
      }
      span {
        font-size: 0;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        
        border-left: 10px solid #9c0315;
      }
    }
  }
  
  &__dots {
    position: absolute;
    top: 93%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    @media (max-width: 768px) {
      top: 90%;
    }
    
    z-index: 5;
    .owl-dot {
      background: none;
  
      width: 14px;
      height: 14px;
      border: 1px solid #9c0315;
      margin-right: 16px;
    }
    .active {
      background: #9c0315 ;
    }
    
  }
}


