.reviews {
  position: relative;
  
  .wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-width: 575px;
  
    margin-left: auto;
    @media (max-width: 768px) {
      max-width: 400px;
    }
    
    @media (max-width: 479px) {
      margin: 0 auto;
    }
  
    &__btn-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
    
      @media (min-width: 480px) {
        opacity: 0;
        transition: opacity .3s ease-in;
      }
    }
    
  }
  .carousel__wrapper {
    display: flex;
    justify-content: flex-end;
    max-width: 535px;
    width: 100%;
    margin-left: 0;
    
    padding: 50px 100px;
    
    box-shadow: 0 0 10px 1px #ffffff;
    background-color: #1b1b1b ;
    opacity: 0.7;
    
    margin-bottom: 100px;
    @media (max-width: 768px) {
      justify-content: center;
      margin-bottom: 50px;
      padding: 50px;
    }
    
  }
  
  &__text {
    color: #ffffff;
    font-family: $fontSourceSansPro;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  
    margin-bottom: 30px;
    @media (max-width: 768px) {
      font-size: 15px;
      font-weight: 400;
      line-height: 26px;
    }
  }
  
  &__link {
    color: #ffffff;
    font-family: $fontSourceSansPro;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
  }
}
