.we-do {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  
  z-index: 2;
 
  .counter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    margin-bottom: 170px;
    
   
    &__item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-shrink: 0;
      
      width: 25%;
      
    }
    &__number {
      text-align: center;
      color: #b7000e;
      font-family: $fontMontserrat;
      font-size: 30px;
      font-weight: 700;
      line-height: 56.88px;
      @media (max-width: 768px) {
        max-width: 30%;
        font-size: 20px;
      }
      @media (max-width: 480px) {
        font-size: 15px;
      }
    }
    &__text {
      
      text-align: center;
      color: #ffffff;
      font-family: $fontSourceSansPro;
      font-size: 19px;
      font-weight: 400;
      @media (max-width: 768px) {
        max-width: 70%;
      }
      @media (max-width: 480px) {
        font-size: 15px;
        text-align: left;
        font-weight: 300;

      }
      
      
    }
    
  }
  &__text {
    display: flex;
    justify-content: flex-start;
    
    max-width: 581px;
    width: 100%;
  
    //@media (max-width: 992px) {
    //  margin-bottom: 50px;
    //}
    //@media (max-width: 480px) {
    //  margin-bottom: 30px;
    //}
    
    p {
      color: #ffffff;
      font-family: $fontSourceSansPro;
      font-size: 21px;
      font-weight: 400;
      line-height: 37.92px;
      
    }
  }
  @media (max-width: 992px) {
    .counter {
      margin-bottom: 70px;
      flex-wrap: wrap ;
      &__item {
        justify-content:space-between;
        align-items: center;
        width: 50%;
      }
      
    }
    
  }
  @media (max-width: 768px) {
    .counter {
      margin-bottom: 70px;
      flex-wrap: wrap ;
      &__item {
        justify-content:center;
        align-items: center;
        flex-direction: row;
        
        width: 100%;
      }
      &__number {
        padding-right: 20px;
      }
    }
  }
  @media (max-width: 480px){
    .counter {
      margin-bottom: 10px;
    }
  }
}
