<section class="section--process section" id="process">
    <div class="container">
        <div class="process">
            <h3 class="section__title">
                Prozess
            </h3>
            <div class="process__wrapper">
                <div class="icon-block icon-block--bordered grid-item-1">
                    <div class="proc-line-1" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="icon-block__img">
                        {%include '../../svg/process/_zapros-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Anfrage</h2>
                        <p>
                            Sie füllen ein Projektanforderungsformular aus
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-item-2">
                    <div class="proc-line-2" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>
                    <div class="proc-line-3" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="icon-block__img">
                        {%include '../../svg/process/_peregovori-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Verhandlungen</h2>
                        <p>
                            Wir spezifizieren spezifische Details und Bedingungen.
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-item-3">
                    <div class="proc-line-4" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Zustimmung</h2>
                        <p>
                            Wir unterzeichnen einen Servicevertrag mit Ihnen
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-item-4">
                    <div class="proc-line-5" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>
                    <div class="proc-line-6" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="icon-block__img">
                        {%include '../../svg/process/_ispolnenie-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Ausführung</h2>
                        <p>
                            Unser Team arbeitet an Ihrem Projekt.
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-item-5">
                    <div class="proc-line-7" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>
                    <div class="proc-line-8" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>
                    <div class="icon-block__img">
                        {%include '../../svg/process/_prezentaciya-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Präsentation</h2>
                        <p>
                            Wir demonstrieren Ergebnisse und
                            schließen das Projekt ab.
                        </p>
                    </div>
                </div>
            </div>
            <div class="process__btn-wrap">
                {%include '../../components/_main-button_ge.njk' %}
            </div>
        </div>
    </div>

</section>