<section class="section--process section" id="process">
    <div class="container">
        <div class="process">
            <h3 class="section__title">
                Процесс
            </h3>
            <div class="process__wrapper">
                <div class="icon-block icon-block--bordered grid-item-1">
                    <div class="proc-line-1" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="icon-block__img">
                        {%include '../../svg/process/_zapros-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Запрос</h2>
                        <p>
                            Вы заполняете форму
                            запроса на проект
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-item-2">
                    <div class="proc-line-2" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>
                    <div class="proc-line-3" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="icon-block__img">
                        {%include '../../svg/process/_peregovori-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Переговоры</h2>
                        <p>
                            Мы уточняем особые детали и условия
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-item-3">
                    <div class="proc-line-4" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/_dogovor-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Договор</h2>
                        <p>
                            Подписываем с Вами
                            договор об оказании услуг
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-item-4">
                    <div class="proc-line-5" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>
                    <div class="proc-line-6" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="icon-block__img">
                        {%include '../../svg/process/_ispolnenie-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Исполнение</h2>
                        <p>
                            Наша команда работает
                            над Вашим проектом
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-item-5">
                    <div class="proc-line-7" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>
                    <div class="proc-line-8" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>
                    <div class="icon-block__img">
                        {%include '../../svg/process/_prezentaciya-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Презентация</h2>
                        <p>
                            Мы демонстрируем результат
                            и завершаем проект
                        </p>
                    </div>
                </div>
            </div>
            <div class="process__btn-wrap">
                {%include '../../components/_main-button_ge.njk' %}
            </div>
        </div>
    </div>

</section>