<section class="section--we-do section" id="we-do">
    <div class="container">

        <div class="we-do">
            <h3 class="section__title we-do-title">
                Our achievements
            </h3>
            <div class="counter">
                <div class="counter__item">
                    <p class="counter__number"><span class="js--count">138</span></p>
                    <p class="counter__text">
                        projects done
                    </p>
                </div>
                <div class="counter__item">
                    <p class="counter__number"><span class="js--count">4 </span>years</p>
                    <p class="counter__text">
                       <span class="desc-counter"> </span> professional experience in IT
                    </p>
                </div>
                <div class="counter__item">
                    <p class="counter__number">$<span class="js--count">5 </span> mln.</p>
                    <p class="counter__text">
                        our customers saved during the year
                    </p>
                </div>
                <div class="counter__item">
                    <p class="counter__number"><span class="js--count">138</span>%</p>
                    <p class="counter__text">
                        effective solutions
                    </p>
                </div>

            </div>

            <div class="we-do__text ">
                <p>
                    <span itemprop="description">
                          After integrating our digital solutions,
                          the efficiency of the organization’s business processes increases by 1.5 times
                          due to the use of the latest advanced
                          information technology
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="section--we-do__bg">

    </div>
</section>