<section class="section--we-do section" id="we-do">
    <div class="container">

        <div class="we-do">
            <h3 class="section__title we-do-title">
                Unsere Erfolge
            </h3>
            <div class="counter">
                <div class="counter__item">
                    <p class="counter__number"><span class="js--count">138</span></p>
                    <p class="counter__text">
                        Unsere Erfolge
                    </p>
                </div>
                <div class="counter__item">
                    <p class="counter__number"><span class="js--count">4 </span> Jahren</p>
                    <p class="counter__text">
                       <span class="desc-counter"> </span>  IT-Berufserfahrung
                    </p>
                </div>
                <div class="counter__item">
                    <p class="counter__number"> € <span class="js--count"> 5 </span>  mln.</p>
                    <p class="counter__text">
                        unsere Kunden sparen in einem Jahr
                    </p>
                </div>
                <div class="counter__item">
                    <p class="counter__number"><span class="js--count">100</span>%</p>
                    <p class="counter__text">
                        effektive Lösungen
                    </p>
                </div>

            </div>

            <div class="we-do__text ">
                <p>
                    <span itemprop="description">
                        Nach der Integration unserer digitalen Lösungen
                        wird die Effizienz der Geschäftsprozesse
                        des Unternehmens durch den Einsatz
                        der neuesten Informationstechnologie
                        um das 1,5-fache gesteigert
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="section--we-do__bg">

    </div>
</section>