<section class="section--we-do section" id="we-do">
    <div class="container">

        <div class="we-do">
            <h3 class="section__title we-do-title">
                Наши достижения
            </h3>
            <div class="counter">
                <div class="counter__item">
                    <p class="counter__number"><span class="js--count">27</span></p>
                    <p class="counter__text">
                        реализованных
                        проекта
                    </p>
                </div>
                <div class="counter__item">
                    <p class="counter__number"><span class="js--count">4 </span> года</p>
                    <p class="counter__text">
                       <span class="desc-counter"> </span>  опыта в сфере ИТ
                    </p>
                </div>
                <div class="counter__item">
                    <p class="counter__number"><span class="js--count">5 </span> млн. ₽</p>
                    <p class="counter__text">
                        за год сэкономили
                        наши клиенты
                    </p>
                </div>
                <div class="counter__item">
                    <p class="counter__number"><span class="js--count">100</span>%</p>
                    <p class="counter__text">
                        эффективные
                        решения
                    </p>
                </div>

            </div>

            <div class="we-do__text ">
                <p>
                    <span itemprop="description">
                        Наши проекты для Вашего офиса уменьшают
                        ежедневные расходы бизнеса на 30%
                        за счёт интеграции умных решений
                        и правильной организации
                        технологических процессов.
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="section--we-do__bg">
    </div>
</section>