<header>
    <div class="container--nav">
        <div class="header">
            <div class="header__logo ">
                <a href="http://www.soffice.space/">
                    {%include '../../svg/_SmartOffice-Logo.njk'%}
                </a>
            </div>

            <div class="header__navigation">
                <nav class="nav">
                    <ul class="nav__list js--nav">
                        <li class="nav__item">
                            <a href="#about-us">Warum wir?</a>
                        </li>
                        <li class="nav__item">
                            <a href="#projects">Projekte</a>
                        </li>
                        <li class="nav__item">
                            <a href="#reviews">Feedback</a>
                        </li>
                        <li class="nav__item">
                            <a href="#process">Prozess</a>
                        </li>
                        <li class="nav__item">
                            <a href="#clients">Kunden</a>
                        </li>
                        <li class="nav__item">
                            <a href="#contacts">Kontakte</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="tel tel--mob">
                <a href="tel:+79006149797">Ruf+7 (900) 614-97-97</a>
            </div>

            <div class="nav__contacts">
                <div id="dd" class="wrapper-dropdown-1" tabindex="1">
                    <span class="result"> <img src="./assets/img/svg/language/FlagGermany.svg" alt="">DE </span>
                    <ul class="dropdown">
                        <li><a href="./ru.html"><img src="./assets/img/svg/language/FlagRussia.svg" alt="">RU </a></li>
                        <li><a href="./eng.html"><img src="./assets/img/svg/language/FlagUK.svg" alt="">EN </a></li>
                        <li><a href="./de.html"><img src="./assets/img/svg/language/FlagGermany.svg" alt="">DE </a></li>
                    </ul>
                </div>

                <div class="tel tel--desc">
                    <a href="tel:+79006149797">Ruf+7 (900) 614-97-97</a>
                </div>
            </div>
        </div>
    </div>
</header>