.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  padding: .5em .5em;
  font-size: 19px;
  font-family: $fontMontserrat;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  border: none;
  
  &--main {
    font-size: 19px;
    font-weight: 400;
    line-height: 25.82px;
    letter-spacing: 0.2px;
    
    box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(to right, #b8000e 0%, #87000e 100%);
  }

  //form btn
  &--f {
    font-size: 19px;
    font-weight: 400;
    line-height: 25.82px;
    letter-spacing: 0.2px;
    box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(to right, #b8000e 0%, #87000e 100%);
    cursor: pointer;
    &:disabled  {
      color: #020101;

      background-image: none;
      background-color: #767676 ;
      cursor: not-allowed;
    }

  }
  
  //medium
  &--m {
    max-width: 275px;
    width: 100%;
    @media (max-width: 768px) {
      max-width: 210px;
    }
    @media (max-width: 479px) {
      max-width: 100%;
    }
  }
  
  //large
  &--l {
    max-width: 315px;
    width: 100%;
    @media (max-width: 1024px) {
          max-width: 230px;
    }
    @media (max-width: 768px) {
      max-width: 210px;
    }
    @media (max-width: 479px) {
      max-width: 100%;
    }
  }
}