.main-wrapper {
  position: relative;
}

.section {
  padding: 10px 0;
  
  z-index: 3;
  
  &:before {
    content: '';
    display: block;
    position: absolute;

    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    z-index: 0;
  }
  
  &--banner {
    position: relative;
    
    padding-top: 0;
    min-height: 100vh;
    padding-bottom: 120px;
    
    @media (max-width: 1024px) {
      min-height: auto;
    }
    @media (max-width: 479px) {
      padding-bottom: 100px;
    }
    
    
    &__bg {
      display: flex;
      justify-content: center;
      align-items: center;
      
      position: absolute;
      height: calc(100% + 200px);
      
      width: 100%;
      
      background-image: url("../img/background/banner/banner-1.png");
      
      background-repeat: no-repeat;
      background-size: 1920px;
      background-position: top;
      
      z-index: -1;
      
      @media (max-width: 1024px) {
        height: calc(100% + 270px);
      }
      
      @media (max-width: 768px) {
        background-image: url("../img/background/banner/Голова-1.png");
        background-size: cover;
    
        padding: 5px 0;
      }
      
    }
    
  }
  
  &--we-do {
    z-index: 4;
    position: relative;
    min-height: 100vh;
    padding-bottom: 130px;
    
    @media (max-width: 1024px) {
      min-height: auto;
      padding-bottom: 200px;
    }
    
    @media (max-width: 768px) {
      padding-bottom: 100px;
    }
    
    @media (min-height: 480px) and (max-width: 767px) {
      padding-top: 20px;
    }
    
    &__bg {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: calc(100% + 35vh);
      
      width: 100%;
  
      background-image: url("../img/background/we-do/we-do-sm.png");
      background-repeat: no-repeat;
      background-size: 1920px;
      background-position: top;
      z-index: -1;
      
  
      top: 0;
      
      @media (max-width: 1024px) {
        background-size: 1024px;
        top: 20vh;
      }
    }
    
  }
  
  &--about-us {
    position: relative;
    width: 100%;
    padding-bottom: 200px;
    z-index: 4;
    @media (max-width: 1024px) {
      padding-bottom: 150px;
    }
   
    &__bg {
      position: absolute;
      width: 100%;
      height: calc(100% - 45vh);
      background-image: url("../img/background/about-us/about-us-bg.png");
      background-repeat: no-repeat;
      background-size: 1920px;
      background-position: top;
      top: 40vh;
      z-index: -1;
  
      box-shadow: 0px -170px 90px 0px #000000;
      
      @media (max-width: 1024px) {
        top: 37vh;
        height: 100%;
      }
    }
    
  }
  
  &--projects {
    position: relative;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% top;
    box-shadow: 0px -59px 93px 0px #000000;;
    width: 100%;
    height: 100%;
    padding-bottom: 170px;
    z-index: 5;
    @media (max-width: 1024px) {
      //padding-top: 150px;
      box-shadow: none;
      padding-bottom: 0;
    }
  
    @media (max-width: 768px) {
      padding-top: 105px;

    }
  }

  &--reviews {
    position: relative;
    
    z-index: 4;
    padding-bottom: 200px;
    
    background-image: url("../img/background/reviews/reviews.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    
    box-shadow: inset -20px 0px 20px 20px #000000;
    @media (max-width:1024px) {
      padding-bottom: 150px;
    }
    @media (max-width:768px) {
      padding-bottom: 130px;
    }
    
    @media (max-width: 479px) {
      width: 100%;
      min-height: auto;
      background-image: url("../img/background/reviews/reviews1-p.png");
      background-size: cover;
      box-shadow: inset 0 0 20px 20px #000000;
    }
  }
  
  &--process {
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 200px;
    
    background-image: url("../img/background/process/process.png");
    background-repeat: no-repeat;
    background-size: 1600px;
    background-position: 50% 50%;
    
    box-shadow: inset 0 0 20px 20px #000000;
    
    
    @media (max-width: 1024px) {
      background-size: cover;
      padding-bottom: 100px;
      margin-bottom: 0;
    }
  }
  
  &--clients {
    position: relative;
    
    background-image: url("../img/background/clients/clients.png");
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    
  }
  
  &--contacts {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% top;
    width: 100%;
    padding-bottom: 200px;
    @media (max-width:1024px) {
      padding-bottom: 150px;
    }
    @media (max-width:768px) {
      padding-bottom: 130px;
    }
  }
  
  @import "../globals/animations";
}

footer {
  position: relative;
  
  width: 100%;
  
  padding: 100px 0 30px;
  
  background-image: url("../img/background/footer/footer-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: inset -1px 38px 105px 54px #000000;
  @media (max-width:768px) {
    padding: 30px 0 10px;;
  }
}