<header>
    <div class="container--nav">
        <div class="header">
            <div class="header__logo ">
                <a href="..">
                    {%include '../../svg/banner/_pCBuild-Logo.njk'%}
                </a>
            </div>

            <div class="header__navigation">
                <nav class="nav">
                    <ul class="nav__list js--nav">
                        <li class="nav__item">
                            <a href="#about-us">Почему мы?</a>
                        </li>
                        <li class="nav__item">
                            <a href="#projects">Проекты</a>
                        </li>
                        <li class="nav__item">
                            <a href="#reviews">Отзывы</a>
                        </li>
                        <li class="nav__item">
                            <a href="#process">Процес</a>
                        </li>
                        <li class="nav__item">
                            <a href="#clients">Клиенты</a>
                        </li>
                        <li class="nav__item">
                            <a href="#contacts">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="tel tel--mob">
                <a href="tel:+79006149797">Тел.+7 (900) 614-97-97</a>
            </div>

            <div class="nav__contacts">
                <div id="dd" class="wrapper-dropdown-1" tabindex="1">
                    <span class="result"> <img src="./assets/img/svg/language/FlagRussia.svg">RU</span>
                    <ul class="dropdown">
                        <li><a href=".."><img src="./assets/img/svg/language/FlagRussia.svg" alt="">RU </a></li>
                        <li><a href=".."><img src="./assets/img/svg/language/FlagUK.svg" alt="">EN </a></li>
                        <li><a href=".."><img src="./assets/img/svg/language/FlagGermany.svg" alt="">DE </a></li>
                </div>

                <div class="tel tel--desc">
                    <a href="tel:+79006149797">Тел.+7 (900) 614-97-97</a>
                </div>
            </div>
        </div>
    </div>
</header>