<section class="section--form section" id="clients">
    <div class="container">
        <div class="form">
            <div class="contacts-form" id="form">
                <h3 class="section__title">
                    Заполните запрос на проект
                </h3>

                <form class="contact-form" id="contact-form"  action="http://landing.loc" method="POST" enctype="multipart/form-data" autocomplete="on">

                    <h3 class="form__description"></h3>

                    <div class="form__wrapper">
                        <div class="form">

                            <div  class="form__fields">
                                <div class="form__field">
                                    <input class="input input_email" type="email" name="email" id="email">
                                    <label for="email">Ваш Email <span> *</span> </label>
                                    <div class="form__field__error form__field__error_email"></div>
                                </div>
                                <div class="form__field">
                                    <input class="input input_name" type="text" name="name" id="name">
                                    <label for="name">Ваше имя<span> *</span></label>
                                    <div class="form__field__error form__field__error_name"></div>
                                </div>
                                <div class="form__field">
                                    <input class="input input_tel" type="tel" name="tel" id="tel">
                                    <label for="tel">Ваш номер телефона</label>
                                    <div class="form__field__error form__field__error_tel"></div>
                                </div>

                            </div>

                            <div class="form__textarea">
                                <p class="form__field ">
                                    <textarea class="input" name="message" id="message" style="max-width:100%;min-height:50px;height:100%;width:100%;"></textarea>
                                    <label for="message">Ваш запрос<span> *</span></label>
                                </p>
                                <p class="form__text"> <span> * </span> Поля обязательные для заполнения</p>

                                <div class="form__checkbox">
                                    <input type="checkbox" id="check">
                                    <label for="check" class="form__text"><span></span><p>Согласен с &nbsp; <a href="Polit_konf.doc" class="break" >Политикой конфеденциальности</a></p></label>
                                </div>
                            </div>

                        </div>



                        <button class="clients-form btn btn--l  btn--f" type="submit">
                            Отправить запрос
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>