.contact-us {
  &__form {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    background-color: #181818;
  }
}


input,
textarea {
  background: none;
  color: #ffffff;
  font-family: $fontOpenSans;
  font-size: 16px;

  width: 100%;
  height: 100%;
  border: none;
  display: inline-block;

  &:focus,
  &:active,
  &.has-value{
    outline: none;
    & + label {
      top: 0;
      left: 0;

      font-size: 15px;
      color:  #feb960;
      transition: all .3s ease-in-out;
    }
  }
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  font-family: $fontOpenSans;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all .3s ease-in-out;

}

textarea {
  resize: none;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__field {
    width: 45%;
    height: 45px;
    position: relative;
    padding: 5px 20px;
    margin-bottom: 20px;
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;

      background-color: #feb960;
    }
    &--full {
      width: 100%;
    }
  }
}
input:focus + label,
textarea:focus + label,
input.has-value + label {

}
@media (max-width: 992px )  {
  .form {
    &__field {
      width: 100%;
    }
  }
}