.main-wrapper {
  position: relative;
}

.section {
  background-color: #0d0d0d;
  padding: 10px 0;

  z-index: 3;
  
  &:before {
    content: '';
    display: block;
    position: absolute;

    //background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    z-index: 0;
  }
  
  &--banner {
    position: relative;
    
    padding-top: 0;
    min-height: 100vh;
    padding-bottom: 120px;
    
    @media (max-width: 1024px) {
      min-height: auto;
    }
    @media (max-width: 479px) {
      padding-bottom: 100px;
    }
  
    &:before {
      background: linear-gradient(180deg, rgba(5,5,5,0.989233193277311) 0%, rgba(5,5,5,0.38728995015975143) 0%, rgba(5,5,5,1) 0%, rgba(5,5,5,0.9220063025210083) 0%, rgba(5,5,5,0) 45%, rgba(5,5,5,1) 78%);
    }
    &__bg {
      display: flex;
      justify-content: center;
      align-items: center;
      
      position: absolute;
      height: 100%;
      
      width: 100%;
      
      background-image: url("../img/background/banner/banner-v.png");
      
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      
      z-index: -1;
     
      @media (max-width: 1024px) {
        height: calc(100% + 270px);
      }
      
      @media (max-width: 768px) {
        background-image: url("../img/background/banner/banner-m.png");
        background-size: cover;
        
        padding: 5px 0;
      }
      
    }
    
  }
  
  &--we-do {
    z-index: 4;
    position: relative;
    min-height: 100vh;
    padding-bottom: 130px;
    
    &:before {
      background: linear-gradient(180deg, rgba(5,5,5,0.989233193277311) 0%, rgba(5,5,5,0.38728995015975143) 0%, rgba(5,5,5,1) 0%, rgba(5,5,5,1) 19%, rgba(5,5,5,0.24413515406162467) 55%, rgba(5,5,5,1) 83%);
    }
    
    @media (max-width: 1024px) {
      min-height: auto;
      padding-bottom: 200px;
    }
    
    @media (max-width: 768px) {
      padding-bottom: 100px;
    }
    
    @media (min-height: 480px) and (max-width: 767px) {
      padding-top: 20px;
    }
    
    &__bg {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: calc(100% + 35vh);
      
      width: 100%;
     
      background-image: url("../img/background/we-do/we-do.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      z-index: -1;
      
      
      top: 0;
      
      @media (max-width: 1024px) {
        //background-size: 1024px;
        //top: 20vh;
      }
    }
    
  }
  
  &--about-us {
    position: relative;
    width: 100%;
    padding-bottom: 200px;
    z-index: 4;
    @media (max-width: 1024px) {
      padding-bottom: 0;
    }

    @media (max-width: 1024px) {
      padding-bottom: 150px;
    }

    @media (max-width: 768px) {
      padding-bottom: 105px;
    }

    &:before {
      background:  linear-gradient(180deg, rgba(5,5,5,0.9540231092436975) 8%, rgba(5,5,5,0) 20%, rgba(5,5,5,0) 60%, rgba(5,5,5,1) 88%);
    }
    
    &__bg {
      position: absolute;
      width: 100%;
      
      height: 100%;
      background-image: url("../img/background/about-us/about-us.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      top: 0;
      z-index: -1;
      
      @media (max-width: 1024px) {
        top: 37vh;
        height: 100%;
      }
    }
    
  }
  
  &--projects {
    position: relative;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% top;
    background-color: #0a0a0a;
    width: 100%;
    height: 100%;
    padding-bottom: 170px;
    z-index: 5;
    
    &:before {
      
      background:  linear-gradient(180deg, rgba(5,5,5,0.9540231092436975) 3%, rgba(5,5,5,0) 20%, rgba(5,5,5,0) 60%, rgba(5,5,5,1) 88%);
    }
    
    @media (max-width: 1024px) {
      //padding-top: 150px;
      box-shadow: none;
      padding-bottom: 0;
    }
    
    @media (max-width: 768px) {
      //padding-top: 105px;
      padding-bottom: 0;
    }
  }
  
  &--reviews {
    position: relative;
    
    z-index: 4;
    padding-bottom: 200px;
    width: 100%;
    height: 100%;
    
    background-image: url("../img/background/reviews/reviews-b.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% top;
    
    
    &:before {
      background:  linear-gradient(180deg, rgba(5,5,5,0.9540231092436975) 3%, rgba(5,5,5,0) 20%, rgba(5,5,5,0) 60%, rgba(5,5,5,1) 88%);
    }
    @media (max-width:1024px) {
      padding-bottom: 150px;
    }
    @media (max-width:768px) {
      padding-bottom: 130px;
    }
    
    @media (max-width: 479px) {
      width: 100%;
      min-height: auto;
      background-image: url("../img/background/reviews/reviews.png");
      background-size: cover;
    }
  }
  
  &--process {
    position: relative;
    padding-bottom: 200px;
    
    background-image: url("../img/background/process/process.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    
    
    &:before {
      background:  linear-gradient(180deg, rgba(5,5,5,0.9640231092436975) 8%, rgba(5,5,5,0) 40%, rgba(5,5,5,0) 58%, rgba(5,5,5,0.9640231092436975) 84%);
    }
    @media (max-width: 1024px) {
      background-size: cover;
      padding-bottom: 100px;
    }
    @media (max-width: 1024px) {
      margin-bottom: 0;
    }
  }
  
  &--clients {
    position: relative;
    background-color: rgba(6, 6, 7, 0.92);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    &:before {
      background: linear-gradient(180deg, rgba(5,5,5,0.989233193277311) 0%, rgba(5,5,5,0.700717787114846) 0%, rgba(5,5,5,0.7063200280112045) 100%, rgba(5,5,5,1) 100%);    }
    
  }
  &--form {
    position: relative;
    
    background-image: url("../img/background/form/form.png");
    padding-bottom: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
   
    z-index: 0;
    &:before {
      z-index: -1;
      
      background: linear-gradient(180deg, rgba(5,5,5,0.989233193277311) 0%, rgba(5,5,5,0.38728995015975143) 0%, rgba(5,5,5,1) 0%, rgba(5,5,5,0.9220063025210083) 19%, rgba(5,5,5,0) 45%, rgba(5,5,5,1) 86%);
    }
    @media (max-width:768px) {
      background-image: none;
      padding-bottom: 100px;
    }
    
  }
  
  &--contacts {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% top;
    width: 100%;
    padding-bottom: 200px;
    background-color: #000000;
    @media (max-width:1024px) {
      padding-bottom: 150px;
    }
    @media (max-width:768px) {
      padding-bottom: 130px;
    }
    
    &:before {
      background:  linear-gradient(180deg, rgba(5,5,5,0.9640231092436975) 8%, rgba(5,5,5,0) 40%, rgba(5,5,5,0) 58%, rgba(5,5,5,0.9640231092436975) 84%);
    }
  }
  
  @import "../globals/animations";
}

footer {
  position: relative;
  
  width: 100%;
  
  padding: 100px 0 30px;
  
  background-image: url("../img/background/footer/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  @media (max-width:768px) {
    padding: 30px 0 10px;;
  }
  
  &:before {content: '';
    display: block;
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    left: 0;
    top: 0;
    z-index: 0;
    background: linear-gradient(180deg, rgba(5,5,5,0.989233193277311) 0%, rgba(5,5,5,0.38728995015975143) 0%, rgba(5,5,5,1) 0%, rgba(5,5,5,0.9500175070028011) 25%, rgba(5,5,5,0.34217436974789917) 100%);
  }
}