<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta property="og:title"
      content="Smart Office — цифровые решения"/>
<meta property="og:type"
      content="website"/>
<meta property="og:url"
      content="#"/>
<meta property="og:image"
      content="./assets/img/background/banner/banner-1.png"/>
<meta property="og:locale"
      content="ru_RU"/>
<meta property="og:locale:alternate"
      content="en_EN"/>
<meta property="og:locale:alternate"
      content="de_DE"/>
<meta property="og:description"
      content="Наши проекты для Вашего офиса уменьшают
ежедневные расходы бизнеса на 30%
за счёт интеграции умных решений
и правильной организации
технологических процессов.
"/>
<meta property="og:site_name" content="Smart Office — цифровые решения"/>

<script src="https://www.google.com/recaptcha/api.js?render=6LcNa94UAAAAAAdubwbViU_Mep5guCqzuh-fS2ed"></script>
<script>
  grecaptcha.ready(function() {
    window.getRecapchaToken = ()=> {
      grecaptcha.execute('6LcNa94UAAAAAAdubwbViU_Mep5guCqzuh-fS2ed', {action: 'content'}).then(function(token) {
        var recaptchaResponse = document.getElementById('recaptchaResponse');
        recaptchaResponse.value = token;
      });
    }
    // window.getRecapchaToken()
  });
</script>
<!-- CSS styles -->
<link rel="stylesheet" href="assets/css/style.css">
<link rel="alternate" hreflang="x-default" href="http://example.com/">
<link rel="alternate" hreflang="ru-ru" href="http://example.com/ru-ru/">
<link rel="alternate" hreflang="ru-en" href="http://example.com/ru-us/">
<link rel="alternate" hreflang="ru-de" href="http://example.com/ru-de/">
<link rel="alternate" hreflang="ru-aut" href="http://example.com/de-aut/">