<section class="section--about-us section" id="about-us">
    <div class="section--about-us__bg"></div>
    <div class="container">
        <div class="about-us">
            <h3 class="section__title">
                Почему выбирают нас?
            </h3>


            <div class="about-us__wrapper">

                <div class="icon-block icon-block--bordered grid-tpl-1">
                    <div class="ab-line-1" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_unikalnost.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Уникальность</h2>
                        <p>
                            Исключительные решения
                            для каждого клиента
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-2">
                    <div class="ab-line-2" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="ab-line-9" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_nadejnost-yellow.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2> Надёжность</h2>
                        <p>
                            Ответственный подход
                            к реализации проекта
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-3">
                    <div class="ab-line-3" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_effectivnost-yellow.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Эффективность</h2>
                        <p>
                            Повышаем продуктивность
                            Вашего бизнеса за счёт
                            цифровизации процессов
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-4">
                    <div class="ab-line-4" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_uchastie.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Участие</h2>
                        <p>
                            Особое внимание
                            к желаниям клиентов.
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-5">
                    <div class="ab-line-5" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="ab-line-6" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_ergonomichnost-yellow.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Эргономичность</h2>
                        <p>
                            Оборудование органично
                            вписывается в дизайн
                            и не отвлекает от важных
                            задач
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-6">
                    <div class="ab-line-7" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="ab-line-11" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_bonus-yellow.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Бонус</h2>
                        <p>
                            Проектирование малого офиса
                            по себестоимости
                            за отзыв и пост в соцсетях
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-7">
                    <div class="ab-line-8" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_economychnost-yellow.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Экономичность</h2>
                        <p>
                            Вы платите только
                            за те услуги, которые
                            Вам действительно нужны
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-8">
                    <div class="ab-line-10" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>
                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_effectivnost-yellow.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Компетенция</h2>
                        <p>
                            Мы используем только
                            высокотехнологичное
                            оборудование
                        </p>
                    </div>
                </div>
            </div>

            <div class="about-us__btn-wrap">
                {%include '../../components/_main-button_ru.njk' %}
            </div>
        </div>
    </div>

</section>