<section class="section--banner section" id="banner">
    <div class="section--banner__bg">

    </div>
    {%include '../../chunks/header/_header_de.njk' %}

    <div class="container">

        <div class="banner">
            <div class="plus title-plus">
                <span class="plus-w"></span>
                <span class="plus-h"></span>
            </div>
            <div class="plus icons-plus">
                <span class="plus-w"></span>
                <span class="plus-h"></span>
            </div>
            <div class="plus btn-plus">
                <span class="plus-w"></span>
                <span class="plus-h"></span>
            </div>
            <div class="main__title__wrapper">
                <div class="lines-1" style="background-image: url('./assets/img/svg/line1.svg')"></div>

                <h1 class="main__title">
                    <span itemprop="name">
                       <span class="title__text caption ">Smart Office</span>
                       <span class="title__text text-line">—</span>
                       <span class="title__text">digitaler Komfort</span>
                    </span>

                </h1>
            </div>


            <div class="icons-block">
                <div class="lines-group">
                    <div class="lines-2" style="background-image: url('./assets/img/svg/line2.svg')"></div>
                    <div class="lines-3" style="background-image: url('./assets/img/svg/line1-1.svg')"></div>
                </div>
                <div class="icons-block__item icb-1">
                    <div class="icons-block__img">
                        {% include '../../svg/banner/Autsorsing-yellow.njk' %}
                    </div>
                    <div class="icons-block__text">
                        <h2>
                            IT outsourcing
                        </h2>
                    </div>

                </div>
                <div class="icons-block__item icb-2">
                    <div class="icons-block__img">
                        {% include '../../svg/banner/Injiniring-yellow.njk' %}
                    </div>
                    <div class="icons-block__text">
                        <h2>
                            Ingenieurtechnik
                        </h2>
                    </div>

                </div>
                <div class="icons-block__item icb-3">
                    <div class="icons-block__img">
                        {% include '../../svg/banner/Design-yellow.njk' %}
                    </div>
                    <div class="icons-block__text">
                        <h2>
                            Innenarchitektur
                        </h2>
                    </div>

                </div>
                <div class="icons-block__item icb-4">
                    <div class="icons-block__img">
                        {% include '../../svg/banner/Integraciya-yellow.njk' %}
                    </div>
                    <div class="icons-block__text">
                        <h2>
                            System Integration
                        </h2>
                    </div>
                </div>

                <div class="lines-4" style="background-image: url('./assets/img/svg/line2.svg')"></div>
            </div>

            <div class="banner__btn-wrap">
                <div class="lines-5" style="background-image: url('./assets/img/svg/line1.svg')"></div>

                {% include '../../components/_main-button_de.njk' %}
            </div>

        </div>

    </div>

</section>