<footer id="footer">
    <div class="container">
        <div class="footer">

            <div class="footer__logo ">
                <div class="footer__logo__item">
                    <a href="./">
                        {% include '../svg/footer/_nav-Logo.njk' %}
                    </a>
                </div>
                <div class="footer__logo__item">
                    <a href="./">
                        {% include '../svg/footer/SmartOffice-Logo.njk' %}
                    </a>
                </div>
                <div class="footer__logo__item">
                    <a href="./">
                        {% include '../svg/footer/PCBuild-Logo.njk' %}
                    </a>
                </div>

            </div>

            <nav class="footer__nav">
                <ul class="footer__nav__list js--nav">
                    <li class="footer__nav__item">
                        <a href="#about-us"> Почему мы?</a>
                    </li>
                    <li class="footer__nav__item">
                        <a href="#projects">Проекты</a>
                    </li>
                    <li class="footer__nav__item">
                        <a href="#reviews">Отзывы</a>
                    </li>
                    <li class="footer__nav__item">
                        <a href="#proces">Процес</a>
                    </li>
                    <li class="footer__nav__item">
                        <a href="#clients">Клиенты</a>
                    </li>
                    <li class="footer__nav__item">
                        <a href="#contacts">Контакты</a>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="copy-right">
            <p>
                Copyright &#169; 2020 Сquared
            </p>
        </div>
    </div>
</footer>

