<footer>
    <div class="container">
        <div class="footer">

            <div class="footer__logo ">
                <a href="./">
                    {%include '../svg/_nav-Logo.njk'%}
                </a>
                <a href="./">
                    {%include '../svg/_nav-Logo.njk'%}
                </a>
                <a href="./">
                    {%include '../svg/_nav-Logo.njk'%}
                </a>
            </div>
            <div class="footer__navigation">
                <nav class="nav">
                    <ul class="nav__list js--nav">
                        <li class="nav__item">
                            <a href="#about-us">Почему мы?</a>
                        </li>
                        <li class="nav__item">
                            <a href="#projects">Проекты</a>
                        </li>
                        <li class="nav__item">
                            <a href="#reviews">Отзывы</a>
                        </li>
                        <li class="nav__item">
                            <a href="#proces">Процес</a>
                        </li>
                        <li class="nav__item">
                            <a href="#clients">Клиенты</a>
                        </li>
                        <li class="nav__item">
                            <a href="#contacts">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>


        </div>
    </div>
</footer>

