<header>
    <div class="container--nav">
        <div class="header">
            <div class="header__logo">
                <span>K</span>
            </div>
            <div class="header__navigation">
                <nav class="nav">
                    <ul class="nav__list js--nav">
                        <li class="nav__item">
                            <a href="#about-us">Почему мы?</a>
                        </li>
                        <li class="nav__item">
                            <a href="#projects">Проекты</a>
                        </li>
                        <li class="nav__item">
                            <a href="#">Отзывы</a>
                        </li>
                        <li class="nav__item">
                            <a href="#clients">Клиенты</a>
                        </li>
                        <li class="nav__item">
                            <a href="#">Контакты</a>
                        </li>
                    </ul>

                    <select>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </nav>
            </div>
        </div>
    </div>
</header>