
<script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous"></script>
<script defer async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqSwEuQTSTeeOLEjLi4CqSGlsOJnr6_C0&callback=initMap"></script>

<script defer async src="./assets/js/main.js"></script>
