<section class="section--clients section" id="clients">
    <div class="container">
        <div class="clients">
            <h3 class="section__title">
                Наши клиенты
            </h3>
            <div class="clients__wrap__desc">
                <div class="clients__item">
                    {% include '../../svg/clients/_partners-Microsoft.njk' %}
                </div>
                <div class="clients__item">
                    {% include '../../svg/clients/_partners-Asus.njk' %}
                </div>
                <div class="clients__item">
                    {% include '../../svg/clients/_partners-Intel.njk' %}
                </div>
                <div class="clients__item">
                    {% include '../../svg/clients/_partners-MSI.njk' %}
                </div>
                <div class="clients__item">
                    {% include '../../svg/clients/_partners-Nvidia.njk' %}
                </div>
            </div>

        </div>
    </div>

</section>