<section class="section--about-us section" id="about-us">
    <div class="section--about-us__bg"></div>
    <div class="container">
        <div class="about-us">
            <h3 class="section__title">
                Warum wählen Sie uns?
            </h3>


            <div class="about-us__wrapper">

                <div class="icon-block icon-block--bordered grid-tpl-1">
                    <div class="ab-line-1" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_unikalnost-purple.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Einzigartigkeit</h2>
                        <p>
                            Außergewöhnliche Lösungen
                            für jeden Kunden
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-2">
                    <div class="ab-line-2" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="ab-line-9" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_nadejnost-purple.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2> Verantwortung</h2>
                        <p>
                            Zuverlässiger und legitimer
                            Ansatz in jedem Projekt
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-3">
                    <div class="ab-line-3" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_kachestvo-purple.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Qualitätsprüfung</h2>
                        <p>
                            Wir verwenden nur zuverlässige und
                            hochtechnologische Geräte
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-4">
                    <div class="ab-line-4" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_uchastie-purple.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Testen</h2>
                        <p>
                            Mehrere Tests vor
                            der Implementierung
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-5">
                    <div class="ab-line-5" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="ab-line-6" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_dlyaVseh-purple.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Für alle</h2>
                        <p>
                            Wir arbeiten sowohl für
                            Einzelpersonen als auch für Unternehmen
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-6">
                    <div class="ab-line-7" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="ab-line-11" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_bonus-purple.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Bonus</h2>
                        <p>
                            20% Rabatt für Feedback in
                            sozialen Netzwerken
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-7">
                    <div class="ab-line-8" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>

                    <div class="icon-block__img">
                            {%include '../../svg/about-us/_economychnost-purple.njk' %}
                        </div>
                        <div class="icon-block__text">
                            <h2>Kosteneffektivität</h2>
                            <p>
                                Sie zahlen nur für was
                                Sie wirklich benötigen
                            </p>
                        </div>
                    </div>
                <div class="icon-block icon-block--bordered grid-tpl-8">
                    <div class="ab-line-10" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>
                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_garantia-purple.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Garantie</h2>
                        <p>
                            Wir gewähren 1 Jahr Garantie
                            auf unsere Dienstleistungen
                        </p>
                    </div>
                </div>
            </div>

            <div class="about-us__btn-wrap">
                {%include '../../components/main-button/_main-button_de.njk' %}
            </div>
        </div>
    </div>

</section>