<section class="section--about-us section" id="about-us">
    <div class="section--about-us__bg"></div>
    <div class="container">
        <div class="about-us">
            <h3 class="section__title">
                Почему выбирают нас?
            </h3>


            <div class="about-us__wrapper">

                <div class="icon-block icon-block--bordered grid-tpl-1">
                    <div class="ab-line-1" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_unikalnost-purple.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Уникальность</h2>
                        <p>
                            Исключительные решения
                            для каждого клиента
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-2">
                    <div class="ab-line-2" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="ab-line-9" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_nadejnost-purple.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2> Надёжность</h2>
                        <p>
                            Ответственый подход
                            к реализации проекта
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-3">
                    <div class="ab-line-3" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_kachestvo-purple.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Качество</h2>
                        <p>
                            Мы используем только надёжное
                            и высокотехнологичное оборудование
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-4">
                    <div class="ab-line-4" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_uchastie-purple.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Тестирование</h2>
                        <p>
                            Внимание к деталям.
                            Множественные тесты
                            перед реализацией
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-5">
                    <div class="ab-line-5" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="ab-line-6" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_dlyaVseh-purple.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Для всех</h2>
                        <p>
                            Мы сотрудничаем
                            как с физическими лицами,
                            так и с компаниями
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-6">
                    <div class="ab-line-7" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="ab-line-11" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_bonus-purple.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Бонус</h2>
                        <p>
                            Предостаим Вам скидку
                            за отзыв и пост в соцсетях
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-7">
                    <div class="ab-line-8" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>

                    <div class="icon-block__img">
                            {%include '../../svg/about-us/_economychnost-purple.njk' %}
                        </div>
                        <div class="icon-block__text">
                            <h2>Экономичность</h2>
                            <p>
                                Вы платите только
                                за те услуги, которые
                                Вам действительно нужны
                            </p>
                        </div>
                    </div>
                <div class="icon-block icon-block--bordered grid-tpl-8">
                    <div class="ab-line-10" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>
                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_garantia-purple.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Гарантия</h2>
                        <p>
                            Мы предоставляем
                            гарантию 1 год
                            на наши работы
                        </p>
                    </div>
                </div>
            </div>

            <div class="about-us__btn-wrap">
                {%include '../../components/main-button/_main-button_ru.njk' %}
            </div>
        </div>
    </div>

</section>