<section class="section--process section" id="process">
    <div class="container">
        <div class="process">
            <h3 class="section__title">
                Process
            </h3>
            <div class="process__wrapper">
                <div class="icon-block icon-block--bordered grid-item-1">
                    <div class="proc-line-1" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="icon-block__img">
                        {%include '../../svg/process/_zapros-yellow.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Request</h2>
                        <p>
                            You fill out a project
                            request form
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-item-2">
                    <div class="proc-line-2" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>
                    <div class="proc-line-3" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="icon-block__img">
                        {%include '../../svg/process/_prezentaciya-yellow.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Negotiations</h2>
                        <p>
                            We specify specific details
                            and conditions
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-item-3">
                    <div class="proc-line-4" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/process/_dogovor-yellow.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Agreement</h2>
                        <p>
                            We are signing a service
                            agreement with you
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-item-4">
                    <div class="proc-line-5" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>
                    <div class="proc-line-6" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="icon-block__img">
                        {%include '../../svg/process/_ispolnenie-yellow.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Execution</h2>
                        <p>
                            Our team is working
                            on your project
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-item-5">
                    <div class="proc-line-7" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>
                    <div class="proc-line-8" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>
                    <div class="icon-block__img">
                        {%include '../../svg/process/_peregovori-yellow.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Presentation</h2>
                        <p>
                            We are demonstrating results
                            and concluding the project
                        </p>
                    </div>
                </div>
            </div>
            <div class="process__btn-wrap">
                {%include '../../components/_main-button_eng.njk' %}
            </div>
        </div>
    </div>

</section>