<section class="section--clients section" id="clients">

    <div class="container">
        <div class="clients">
            <h3 class="section__title">
                Unsere Kunden
            </h3>
            <div class="clients__wrap__desc">
                <div class="clients__item">
                    {% include '../../svg/clients/_partners-Rostec.njk' %}
                </div>
                <div class="clients__item">
                    {% include '../../svg/clients/_partners-Hoff.njk' %}
                </div>
                <div class="clients__item">
                    {% include '../../svg/clients/_partners-Diet.njk' %}
                </div>
                <div class="clients__item">
                    {% include '../../svg/clients/_partners-Eone.njk' %}
                </div>
                <div class="clients__item">
                    {% include '../../svg/clients/_partners-Design.njk' %}
                </div>
            </div>

        </div>
    </div>

</section>