&.animate {
  
  .main__title {
    opacity: 1;
  }
  /*banner lines*/
  .lines-1 {
    animation: Line1 .25s linear forwards;
  }

  .lines-2 {
    animation: Line2 .25s linear forwards;
    animation-delay: .25s;
  }

  .lines-3 {
    animation: Line3 .5s linear forwards;
    animation-delay: .5s;
  }

  .lines-4 {
    animation: Line4 .25s linear forwards;
    animation-delay: 1s;
  }

  .lines-5 {
    animation: Line5 .25s linear forwards;
    animation-delay: 1.25s;
  }
  
  /*banner lines end*/
  .icons-block {
    .icons-block__item {
      &.icb-1 {
        opacity: 1;
        transition: opacity .16s ease-in-out;
        transition-delay: .5s;
      }
      &.icb-2 {
        opacity: 1;
        transition: opacity .16s ease-in-out;
        transition-delay: .66s;
      }
      &.icb-3 {
        opacity: 1;
        transition: opacity .16s ease-in-out;
        transition-delay: .82s;
      }
    }
  }

  .banner__btn-wrap {
    .btn {
      opacity: 1;
      transition: opacity .25s ease-in-out;
      transition-delay: 1.5s;
    }
  }

  .section__title {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    transition-delay: 0.3s;
  }
  
  @media (min-width: 769px) {
    //.about-us line
    .ab-line-1 {
      animation: ab-line-w 1s linear forwards;
    }
    .ab-line-3 {
      animation: ab-line-w 1s linear forwards;
      animation-delay: 0.5s;
    }
    
    .ab-line-8 {
      animation: ab-line-h 1s linear forwards;
      animation-delay: 1s;
    }
    
    .ab-line-4 {
      animation: ab-line-w .2s linear forwards;
      animation-delay: 1.5s;
    }
    
    .ab-line-2 {
      animation: ab-line-w .2s linear forwards;
      animation-delay: 2s;
    }
    .ab-line-9 {
      animation: ab-line-h .2s linear forwards;
      animation-delay: 3s;
    }
    .ab-line-5 {
      animation: ab-line-w .2s linear forwards;
      animation-delay: 2.5s;
    }
    .ab-line-6 {
      animation: ab-line-w .2s linear forwards;
      animation-delay: 3s;
    }
    .ab-line-10 {
      animation: ab-line-h .2s linear forwards;
      animation-delay: 4s;
    }
    .ab-line-7 {
      animation: ab-line-w 1s linear forwards;
      animation-delay: 4.5s;
    }
    .ab-line-11 {
      animation: ab-line-h 1s linear forwards;
      animation-delay: 5s;
    }
    
    //.about-us block
    .about-us__wrapper {
      .grid-tpl-1 {
        opacity: 1;
        transition: opacity  ease-in-out;
        transition-delay: 2s;
      }
      .grid-tpl-3 {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        transition-delay: .5s;
      }
      .grid-tpl-7 {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        transition-delay: 1.5s;
      }
      .grid-tpl-4 {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        transition-delay: 2s;
      }
      .grid-tpl-2 {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        transition-delay: 2.5s;
      }
      .grid-tpl-5 {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        transition-delay: 3.5s;
      }
      .grid-tpl-8 {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        transition-delay: 4s;
      }
      .grid-tpl-6 {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        transition-delay:5s;
      }
    }
    
  }
  //
  @media (max-width: 768px) and (min-width: 481px) {
    //.about-us line

    .ab-line-3,
    .ab-line-4{
      animation: ab-line-w 1s linear forwards;
      animation-delay: .5s;
    }

    .ab-line-8 {
      animation: ab-line-h .5s linear forwards;
      animation-delay: 0s;
    }
    


    //.about-us block
    .about-us__wrapper {
      .grid-tpl-1 {
        opacity: 1;
        transition: opacity  ease-in-out;
        //transition-delay: 2s;
      }
      .grid-tpl-3 {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        transition-delay: 1s;
      }
      .grid-tpl-7 {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        transition-delay: 3s;
      }
      .grid-tpl-4 {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        transition-delay: 1.5s;
      }
      .grid-tpl-2 {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        transition-delay: .5s;
      }
      .grid-tpl-5 {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        transition-delay: 2s;
      }
      .grid-tpl-8 {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        transition-delay: 3.5s;
      }
      .grid-tpl-6 {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        transition-delay: 2.5s;
      }
    }
  }
}



