<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta property="og:title"
      content="[CquareD] — digitale Lösungen"/>
<meta property="og:type"
      content="website"/>
<meta property="og:url"
      content="#"/>
<meta property="og:image"
      content="./assets/img/background/banner/banner-1.png"/>
<meta property="og:locale"
      content="ru_RU"/>
<meta property="og:locale:alternate"
      content="en_EN"/>
<meta property="og:locale:alternate"
      content="de_DE"/>
<meta property="og:description"
      content="Nach der Integration unserer digitalen Lösungen
wird die Effizienz der Geschäftsprozesse
des Unternehmens durch den Einsatz
der neuesten Informationstechnologie
um das 1,5-fache gesteigert"/>
<meta property="og:site_name" content="[CquareD] — digitale Lösungen"/>

<script src="https://www.google.com/recaptcha/api.js?render=6LcNa94UAAAAAAdubwbViU_Mep5guCqzuh-fS2ed"></script>
<script>
  grecaptcha.ready(function() {
    window.getRecapchaToken = ()=> {
      grecaptcha.execute('6LcNa94UAAAAAAdubwbViU_Mep5guCqzuh-fS2ed', {action: 'content'}).then(function(token) {
        var recaptchaResponse = document.getElementById('recaptchaResponse');
        recaptchaResponse.value = token;
      });
    }
    window.getRecapchaToken()
  });
</script>
<!-- CSS styles -->
<link rel="stylesheet" href="assets/css/style.css">