<section class="section--about-us section" id="about-us">
    <div class="section--about-us__bg"></div>
    <div class="container">
        <div class="about-us">
            <h3 class="section__title">
                Why choose us?
            </h3>


            <div class="about-us__wrapper">

                <div class="icon-block icon-block--bordered grid-tpl-1">
                    <div class="ab-line-1" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_unikalnost-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Why choose us?</h2>
                        <p>
                            Exceptional solutions
                            for every customer
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-2">
                    <div class="ab-line-2" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="ab-line-9" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_nadejnost-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2> Responsibility</h2>
                        <p>
                            Reliable and legitimate
                            approach in every project
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-3">
                    <div class="ab-line-3" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_effectivnost-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Effectiveness</h2>
                        <p>
                            We increase the productivity
                            of your business through digitalization
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-4">
                    <div class="ab-line-4" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_uchastie-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Q&A</h2>
                        <p>
                            Multiple tests before implementation
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-5">
                    <div class="ab-line-5" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="ab-line-6" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_innovacionnost-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Innovation</h2>
                        <p>
                            We use latest technologies
                            in our projects
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-6">
                    <div class="ab-line-7" style="background-image: url('./assets/img/svg/ab-line-g.svg')"></div>
                    <div class="ab-line-11" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_bonus-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Bonus</h2>
                        <p>
                            20% discount for review
                            post on social networks
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-7">
                    <div class="ab-line-8" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>

                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_economychnost-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Cost-effectiveness</h2>
                        <p>
                            You pay only for services that you really need
                        </p>
                    </div>
                </div>
                <div class="icon-block icon-block--bordered grid-tpl-8">
                    <div class="ab-line-10" style="background-image: url('./assets/img/svg/ab-line-v.svg')"></div>
                    <div class="icon-block__img">
                        {%include '../../svg/about-us/_kompetentnost-red.njk' %}
                    </div>
                    <div class="icon-block__text">
                        <h2>Competence</h2>
                        <p>
                            Knowledge of the modern information technology market
                        </p>
                    </div>
                </div>
            </div>

            <div class="about-us__btn-wrap">
                {%include '../../components/_main-button_ge.njk' %}
            </div>
        </div>
    </div>

</section>