{#<div class="nav-container">#}
    {#<div class="nav-wrapper">#}
        {#<ul class="new-nav">#}
            {#<li class="new-nav__item">Про нас</li>#}
            {#<li class="new-nav__item">Послуги</li>#}
            {#<li class="new-nav__item">Проети</li>#}
            {#<li class="new-nav__item">Контакти</li>#}
            {#<li class="new-nav__item">Партнери</li>#}
        {#</ul>#}
    {#</div>#}
    {#<div class="burger-icon active"></div>#}
{#</div>#}
