<!doctype html>
<html lang="en">
<head>
    {% include '../chunks/head/_head_ru.njk' %}
    <title>{% block title %}Example{% endblock %}</title>
</head>

<body class="{% block bodyClass %}{% endblock %}">

<div class="main-wrapper">



    <main class="main">
        {%include '../blocks/banner/_banner_ru.njk' %}
        {%include '../blocks/we-do/_we-do_ru.njk' %}
        {%include '../blocks/about-us/_about-us_ru.njk' %}
        {%include '../blocks/progects/_projects_ru.njk' %}
        {%include '../blocks/reviews/_reviews_ru.njk' %}
        {%include '../blocks/process/_process_ru.njk' %}
        {%include '../blocks/clients/_clients_ru.njk' %}
        {%include '../blocks/form/_form_ru.njk' %}
        {%include '../blocks/contacts/_contacts_ru.njk' %}

        {% block main %}{% endblock %}
    </main>

    {%include '../chunks/footer/_footer_ru.njk' %}

</div>

{% block modals %}{% endblock %}

{% include 'chunks/_scripts.njk' %}

</body>
</html>