/* Variables
-------------------------------------------------------------------------------------*/

$outQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

$text: #000000;

$fontCormorant:'Cormorant Garamond', sans-serif;
$fontMontserrat:'Montserrat', sans-serif;
$fontSourceSansPro: 'Source Sans Pro', sans-serif;
$fontRoboto: 'Roboto', sans-serif;