<section class="section--reviews section" id="reviews">
    <div class="container">
        <div class="reviews">
            <h3 class="section__title">
                Reviews
            </h3>
            <div class="wrap">
                <div class="carousel__wrapper">
                    <div class="reviews-slider  owl-carousel owl-theme js--owl">
                        <div class="reviews-slider__item">
                            <p class="reviews__text">
                                Customer feedback on how everything
                                was remarkably implemented.
                                Customer feedback on how
                                everything was remarkably implemented.
                            </p>
                            <a  href="#" class="reviews__link">
                                The name of the person who left
                                the review can be linked to a real review on the Web
                            </a>
                        </div>
                        <div class="reviews-slider__item">
                            <p class="reviews__text">
                                Customer feedback on how
                                everything was remarkably implemented.
                                Customer feedback on how
                                everything was remarkably implemented.
                            </p>
                            <a  href="#" class="reviews__link">
                                The name of the person who left
                                the review can be linked to a real review on the Web
                            </a>
                        </div>
                        <div class="reviews-slider__item">
                            <p class="reviews__text">
                                Customer feedback on how
                                everything was remarkably implemented.
                                Customer feedback on how
                                everything was remarkably implemented.
                            </p>
                            <a  href="#" class="reviews__link">
                                The name of the person who
                                left the review can be linked to a real review on the Web
                            </a>
                        </div>
                    </div>

                    <div class="carousel__dots">

                    </div>

                </div>
                <div class="reviews__btn-wrap btn--m">
                    {%include '../../components/_main-button_ge.njk' %}
                </div>
            </div>
        </div>
    </div>

</section>